<!DOCTYPE html>
<html lang="ru">
{% include "../includes/head.twig" %}
<body>
{% if main == true %}
	{% include '../includes/preloader.twig' %}
{% endif %}
{% include "../includes/header.twig" %}

{% if main == false %}
	{% include '../includes/breadcrumbs.twig' %}
{% endif %}

{% block content %}{% endblock %}

{% include "../includes/footer.twig" %}

{% include "../includes/modals.twig" %}

{% include "../includes/scripts.twig" %}

</body>
</html>
