/*______ Main Fonts ______*/

@font-face {
  font-family: "SF";
  src: url("../fonts/sf/SFUIText-Regular.woff2"), url("../fonts/sf/SFUIText-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF";
  src: url("../fonts/sf/SFUIText-Medium.woff2"), url("../fonts/sf/SFUIText-Medium.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/cormorant/Cormorant-Italic.woff2"), url("../fonts/cormorant/Cormorant-Italic.woff");
  font-style: normal;
  font-display: swap;
}

/*______ Icomoon ______*/

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.ttf?xzldqy") format("truetype"), url("../fonts/icomoon/icomoon.woff?xzldqy") format("woff"), url("../fonts/icomoon/icomoon.svg?xzldqy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}

.icon-close:before {
  content: "\e901";
  color: #d5d5d5;
}

.icon-pack:before {
  content: "\e902";
  color: #f95759;
}

.icon-phone:before {
  content: "\e903";
  color: #fff;
}

.icon-pin:before {
  content: "\e904";
  color: #fff;
}

.icon-search:before {
  content: "\e905";
}

.icon-small-arrow-right:before {
  content: "\e906";
}

.icon-star:before {
  content: "\e907";
}

.icon-facebook:before {
  content: "\e908";
}

.icon-insta:before {
  content: "\e909";
}

.icon-twitter:before {
  content: "\e90a";
}

.icon-vk:before {
  content: "\e90b";
}

.icon-youtube:before {
  content: "\e90c";
}

.icon-user:before {
  content: "\e90d";
  color: #fff;
}

.icon-star-fill:before {
  content: "\e90e";
}

.icon-menu:before {
  content: "\e90f";
}

.icon-chevron-right:before {
  content: "\e910";
}

.icon-chevron-left:before {
  content: "\e911";
}

.icon-ae:before {
  content: "\e912";
}

.icon-small-arrow-left:before {
  content: "\e913";
  color: #fff;
}

/*______ COMPONENTS ______*/

.separate-title {
  position: relative;
  margin-bottom: 85px;
  color: var(--main-text-color);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.separate-title > * {
  position: relative;
  z-index: 3;
}

.separate-title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  background: var(--main-text-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.separate-title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  height: 100%;
  background: #ffffff;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*______ Buttons ______*/

.btn {
  padding: 16px 15px;
  display: inline-block;
  width: 100%;
  max-width: 174px;
  /* height: 48px; */
  /* line-height: 48px; */
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: .1px;
  text-align: center;
  outline: none;
  border: 1px solid var(--second-bg-ui-color);
  cursor: pointer;
  background-color: #ffffff;
  -webkit-transition: all .45s ease;
  -o-transition: all .45s ease;
  -moz-transition: all .45s ease;
  transition: all .45s ease;
}

.btn:hover {
  color: #ffffff;
  background-color: var(--second-bg-ui-color);
}

.btn--light {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.btn--light:hover {
  border-color: var(--second-bg-ui-color);
}

.btn--dark {
  background: var(--second-bg-ui-color);
  border-color: var(--second-bg-ui-color);
  color: #ffffff;
}

.btn--dark:hover {
  background: var(--main-text-color);
  border-color: var(--main-text-color);
}

.btn--medium {
  max-width: 243px;
}

.show-all {
  position: relative;
  padding-right: 42px;
  display: inline-block;
  font-family: "SF" !important;
  color: var(--main-text-color);
  font-size: 18px;
}

.show-all:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show-all:before {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 9px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
}

.show-all:hover {
  color: var(--main-text-color);
}

.show-all:hover:before {
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px);
}

.close-form {
  position: absolute;
  top: 50%;
  font-size: 24px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*______ End Buttons ______*/

/*______ UK-DROPDOWN ______*/

.dropdown-menu {
  display: none;
}

.uk-dropdown {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 50px 0;
}

/*______ End UK-DROPDOWN ______*/

/*______ Promo ______*/

.promo-panel {
  padding: 9px 0;
  background: var(--main-bg-color);
}

.promo-panel__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo-panel__inner .close-form {
  right: 0;
}

.promo-panel__text {
  margin-right: 20px;
  font-family: "Cormorant";
}

/*______ End Promo ______*/

/*______ END COMPONENTS ______*/

/*______ Animation ______*/

.slide-up-content {
  -webkit-animation: slide-up 1.3s ease forwards;
  -moz-animation: slide-up 1.3s ease forwards;
  animation: slide-up 1.3s ease forwards;
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-left {
  -webkit-animation: slide-left 1.3s ease forwards;
  -moz-animation: slide-left 1.3s ease forwards;
  animation: slide-left 1.3s ease forwards;
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes slide-left {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

/*______ End Animation ______*/

:root {
  --main-text-color: #535558;
  --second-text-color: #2b2d31;
  --main-text-color-hover: #2b2d31;
  --second-text-color-hover: #606265;
  --main-bg-color: #f5f6f6;
  --main-bg-ui-color: #F95759;
  --second-bg-ui-color: #2b2d31;
  --separate-line-ui-color: #d5d5d5;
}

body,
table {
  font-family: "SF";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--main-text-color);
}

body.mask {
  position: relative;
  height: 100vh;
}

body.mask:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 998;
}

body.mask header.header {
  position: relative;
  background: #ffffff;
  z-index: 999;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: none;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

.uk-container {
  margin: 0 auto;
  max-width: 1260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.uk-container--large {
  max-width: 1400px;
}

.uk-grid-collapse {
  margin-left: 0 !important;
}

.uk-grid-collapse > * {
  padding-left: 0 !important;
}

/*______ HEADER ______*/

.header__top-bar {
  padding: 8px 0;
  background-color: var(--second-bg-ui-color);
  color: #ffffff;
  font-size: 12px;
}

.header__top-bar a {
  color: #ffffff;
  font-size: 12px;
}

.header__bottom-bar {
  border-bottom: 1px solid var(--separate-line-ui-color);
}

.top-bar__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-desk {
  position: relative;
}

.header-custom-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header-custom-grid .right-column {
  margin-left: auto;
  width: -webkit-calc(100% - 171px);
  width: -moz-calc(100% - 171px);
  width: calc(100% - 171px);
}

.geo {
  font-family: "SF" !important;
  position: relative;
  margin-right: 4%;
  padding-left: 23px;
}

.geo:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geo:before {
  position: absolute;
  top: 0;
  left: 0;
}

.contacts {
  position: relative;
  font-family: "SF" !important;
  padding-left: 28px;
}

.contacts:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contacts:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.top-bar__links {
  width: 56%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-bar__links a {
  margin-right: 4%;
  white-space: nowrap;
  letter-spacing: .2px;
}

.top-bar__links a:last-child {
  margin-right: 0;
}

.top-bar__links a[class^="icon-"] {
  position: relative;
  font-family: "SF" !important;
  padding-left: 31px;
}

.top-bar__links a[class^="icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bar__links a[class^="icon-"]:before {
  position: absolute;
  top: 0;
  left: 0;
}

.top-bar__contacts a:first-child {
  position: relative;
  padding-right: 15px;
}

.top-bar__contacts a:first-child:after {
  content: '';
  position: absolute;
  top: 1px;
  right: 0;
  width: 1px;
  height: 12px;
  display: block;
  background: #ffffff;
}

.top-bar__contacts a:last-child {
  padding-left: 14px;
}

.auth__enter {
  font-family: "SF" !important;
  position: relative;
  padding-left: 22px;
}

.auth__enter:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth__enter:before {
  position: absolute;
  top: 0;
  left: 0;
}

.auth a {
  display: block;
  letter-spacing: .2px;
}

.bottom-bar__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav {
  margin-right: 7%;
  width: 67%;
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
}

.main-nav > ul > li {
  margin-right: 5.3%;
  display: inline-block;
  vertical-align: top;
}

.main-nav > ul > li:last-child {
  margin-right: 0;
}

.main-nav > ul > li.stock-item {
  position: relative;
}

.main-nav > ul > li.stock-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--main-bg-ui-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-nav > ul > li.stock-item:hover a:after {
  display: none;
}

.main-nav > ul > li.nav-item > a {
  position: relative;
  padding: 28px 0;
  display: block;
  color: var(--second-text-color);
  font-size: 13px;
  line-height: 19px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}

.main-nav > ul > li.nav-item > a:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--second-bg-ui-color);
  opacity: 0;
  -webkit-transition: opacity .3s, bottom .3s ease;
  -o-transition: opacity .3s, bottom .3s ease;
  -moz-transition: opacity .3s, bottom .3s ease;
  transition: opacity .3s, bottom .3s ease;
}

.main-nav > ul > li.nav-item > a:hover,
.main-nav > ul > li.nav-item > a.uk-open {
  color: var(--second-text-color-hover);
}

.main-nav > ul > li.nav-item > a:hover:after,
.main-nav > ul > li.nav-item > a.uk-open:after {
  bottom: 0;
  opacity: 1;
}

.tool-bar {
  width: 26%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tool-bar a {
  position: relative;
  padding: 4px 0 4px 31px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "SF" !important;
}

.tool-bar a:before {
  position: absolute;
  top: 3px;
  left: 0;
  color: var(--main-text-color);
  font-family: 'icomoon' !important;
}

.tool-bar .text {
  font-size: 12px;
  letter-spacing: .2px;
  color: var(--second-text-color);
}

.tool-bar .search a:before {
  top: 1px;
}

.tool-bar .favorite.is-added a:before {
  color: var(--main-bg-ui-color);
}

.tool-bar .favorite a:before {
  top: 0;
}

.basket__icon {
  position: absolute;
  top: 7px;
  left: 0;
}

.basket__icon:before {
  color: var(--main-text-color);
}

.basket__count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  background: var(--main-bg-ui-color);
  color: #ffffff;
  font-size: 13px;
  letter-spacing: .2px;
}

.basket a {
  position: relative;
  padding-left: 29px;
  display: block;
  font-family: "SF" !important;
}

.basket a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.basket a:before {
  color: var(--second-text-color);
}

.logo-wrapper {
  margin-top: -25px;
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50% 50% 0 0;
}

.logo-wrapper .logo {
  width: 100%;
  height: 100%;
}

.logo-wrapper a {
  padding: 15px 10px 10px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-section-wrapper .menu-section {
  padding-left: 62px;
}

.menu-section-wrapper.uk-first-column .menu-section {
  padding-left: 0;
}

.menu-section-wrapper:nth-child(3) .menu-section {
  border: none;
}

.menu-section {
  height: 100%;
  border-right: 1px solid var(--separate-line-ui-color);
  padding-left: 92px;
}

.menu-section__title {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .54px;
  text-transform: uppercase;
}

.menu-section__title a {
  color: var(--second-text-color);
}

.menu-section__title a:hover {
  color: var(--second-text-color-hover);
}

.menu-section__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-section__links li {
  margin-bottom: 8px;
  display: block;
}

.menu-section__links li a {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: .09px;
  color: var(--main-text-color);
}

.menu-section__links li a:hover {
  color: var(--second-text-color);
}

/*______ Mobile header ______*/

.header-mobile {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid var(--separate-line-ui-color);
}

.header-mobile:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #000000;
  z-index: 89;
}

.header-mobile .mobile-logo {
  margin-top: -10px;
}

.header-mobile .mobile-logo a {
  padding: 15px 10px 10px;
  position: relative;
  display: inline-block;
  z-index: 90;
  background: #ffffff;
  border-radius: 50% 50% 0 0;
}

.header-mobile .mobile-logo a img {
  width: 100%;
}

.mobile-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 12px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0;
}

.mobile-menu li {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.mobile-menu li a {
  display: inline-block;
  color: var(--main-text-color);
  font-size: 20px;
}

.mobile-menu li a.icon-search {
  margin-top: 1px;
}

.mobile-menu li .icon-menu {
  margin-top: 2.5px;
}

.mobile-menu .basket a {
  display: block;
}

.mobile-menu .basket__icon {
  top: 1px;
}

.mobile-menu .basket .text {
  display: none;
}

.uk-offcanvas-bar {
  padding: 0;
  font-size: 14px;
  background: #ffffff;
}

.uk-offcanvas-bar li {
  position: relative;
  padding: 5px 10px 5px 15px;
  border-bottom: 1px solid var(--separate-line-ui-color);
}

.uk-offcanvas-bar i {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.uk-offcanvas-bar a {
  position: relative;
  padding: 5px 0;
  color: var(--main-text-color);
}

.uk-offcanvas-bar a:hover,
.uk-offcanvas-bar a:focus,
.uk-offcanvas-bar a:active {
  color: var(--main-text-color);
}

.uk-offcanvas-bar .uk-nav {
  overflow: hidden;
}

.uk-offcanvas-bar .uk-panel__top {
  padding: 10px 0;
  border-bottom: 2px solid var(--separate-line-ui-color);
}

.uk-offcanvas-bar .contacts {
  padding-left: 36px;
}

.uk-offcanvas-bar .contacts:before {
  top: 5px;
  left: 15px;
  display: block;
  color: var(--main-text-color);
}

.uk-offcanvas-bar .contacts a {
  display: block;
  width: 100%;
}

.uk-offcanvas-bar .auth {
  margin-top: 5px;
}

.uk-offcanvas-bar .auth > div {
  padding-left: 36px;
}

.uk-offcanvas-bar .auth > div:before {
  top: 5px;
  left: 15px;
  display: block;
  color: var(--main-text-color);
}

.uk-panel__bottom ul {
  padding-left: 0;
}

.uk-panel__bottom ul li {
  padding: 5px 10px 5px 15px;
}

.uk-panel__bottom ul li a {
  padding: 5px 0;
  font-weight: 500;
  display: block;
}

.uk-nav__inner {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  overflow: hidden;
}

.uk-nav__inner .navbar-close {
  font-size: 20px;
  font-family: "SF" !important;
  color: var(--main-text-color);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.uk-nav__inner .navbar-close:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uk-nav__inner .navbar-close span {
  padding-left: 15px;
  font-size: 18px;
}

.uk-nav__inner.hidden {
  left: -100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.uk-nav__inner ul.menu-sublist {
  margin-top: 10px;
  border-top: 2px solid var(--separate-line-ui-color);
}

.uk-nav__inner .navbar-close {
  position: static;
  padding-top: 0;
  top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}

.uk-nav__inner .navbar-close:before {
  font-size: 14px;
}

/*______ End Mobile header ______*/

/*______ END HEADER ______*/

/*______ MAIN CONTENT ______*/

.products-list {
  margin-bottom: 104px;
}

.products-list__inner {
  margin-bottom: 20px;
}

/*______ About company short ______*/

.company-short__title {
  margin-bottom: -45px;
  position: relative;
  color: var(--main-text-color);
  font-size: 64px;
  line-height: 64px;
  font-weight: 500;
  z-index: 15;
}

.company-short figure {
  position: relative;
  margin-bottom: 36px;
  display: block;
  z-index: 14;
}

.company-short figure figcaption {
  margin-top: 36px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cormorant";
}

/*______ End About company short ______*/

/*______ END MAIN CONTENT ______*/

/*______ Card ______*/

.stocks {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: .1px;
  color: #ffffff;
}

.stocks > div {
  margin-bottom: 5px;
  padding: 2px 7px 4px 5px;
  text-align: center;
}

.stocks .discount {
  background: url("../img/ui/discount-bg.png") 0 0 no-repeat;
}

.stocks .new {
  background: url("../img/ui/new-bg.png") 0 0 no-repeat;
}

.card {
  position: relative;
  margin-bottom: 86px !important;
  max-height: 520px;
}

.card:hover {
  z-index: 800;
}

.card-wrapper {
  position: relative;
  z-index: 4;
}

.card-wrapper .card__inner {
  position: relative;
  top: 0;
  left: 0;
  z-index: 25;
}

.card-wrapper:after {
  content: '';
  position: absolute;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  display: block;
  background: #ffffff;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

.card-wrapper:hover {
  z-index: 50;
}

.card-wrapper:hover:after {
  border-color: var(--separate-line-ui-color);
}

.card-wrapper:hover .card__bottom {
  display: block;
}

.card__bottom {
  display: none;
}

.card__img {
  position: relative;
  margin-bottom: 30px;
}

.card__img a {
  position: relative;
  display: block;
}

.card__img a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(131, 141, 155, 0.07);
}

.card__product-name {
  margin-bottom: 21px;
}

.card__product-name a {
  color: var(--main-text-color-hover);
  font-size: 18px;
  line-height: 19px;
  letter-spacing: .1px;
}

.card__product-name a:hover {
  color: var(--main-text-color);
}

.card__price {
  font-size: 0;
}

.card__price > div {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 19px;
}

.card__price .old-price {
  margin-right: 15px;
  color: var(--main-bg-ui-color);
  text-decoration: line-through;
}

.card__price .old-price:empty {
  margin-right: 0;
}

.card__price .current-price {
  color: var(--main-text-color);
}

.card .preview-slider {
  margin-top: 22px;
}

.card .btn {
  margin-top: 15px;
  max-width: 100%;
}

/*______ End Card ______*/

/*______ Category-list ______*/

.category-list {
  margin-bottom: 128px;
}

.category-list .custom-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.category-list .custom-row:last-child {
  margin-bottom: 0;
}

.category-list .custom-row.uk-flex-row-reverse .item-6-10 .img-wrapper {
  margin-top: 39px;
  margin-bottom: 0;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.category-list .custom-row.uk-flex-row-reverse .item-6-10 .item__desc {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.category-list .custom-row.uk-flex-row-reverse .item-4-10 .img-wrapper {
  margin-top: 0;
  margin-bottom: 39px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.category-list .custom-row.uk-flex-row-reverse .item-4-10 .item__desc {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.category-list .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.category-list .item .img-wrapper {
  position: relative;
  width: 100%;
}

.category-list .item__desc {
  width: 100%;
}

.category-list .item__link {
  position: absolute;
  width: 73px;
  height: 73px;
  line-height: 73px;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  bottom: 19%;
  right: 17.2%;
}

.category-list .item__link:hover {
  background: var(--second-bg-ui-color);
  border-color: var(--second-bg-ui-color);
}

.category-list .item__title {
  margin-bottom: 22px;
  color: var(--main-text-color-hover);
}

.category-list .item__title a {
  color: var(--main-text-color-hover);
}

.category-list .item__title a:hover {
  color: var(--main-text-color);
}

.category-list .item__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-family: "Cormorant";
}

.category-list .item.item-6-10 {
  width: 48.8%;
}

.category-list .item.item-6-10 .img-wrapper {
  margin-bottom: 39px;
}

.category-list .item.item-4-10 {
  width: 40.3%;
}

.category-list .item.item-4-10 .img-wrapper {
  margin-top: 39px;
}

/*______ End Category-list ______*/

/*______ FOOTER ______*/

.footer {
  font-size: 14px;
  background: var(--main-bg-color);
}

.footer__middle-inner {
  padding: 37px 0;
  border-top: 1px solid var(--separate-line-ui-color);
  border-bottom: 1px solid var(--separate-line-ui-color);
}

.footer__bottom-inner {
  padding: 37px 0;
}

.footer__title {
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.footer__title i {
  position: absolute;
  top: -1px;
  right: 20px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
}

.footer__title i.open {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list li a {
  font-size: 14px;
  letter-spacing: .2px;
}

.footer__contacts {
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: .2px;
}

.footer__contacts a {
  display: block;
}

.footer a {
  color: var(--main-text-color);
}

.footer a:hover {
  color: var(--main-text-color-hover);
}

.footer a.icon {
  position: relative;
  padding-left: 29px;
  font-family: "SF" !important;
}

.footer a.icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer a.icon:hover:before {
  color: var(--main-bg-ui-color);
}

.footer a.icon:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  -moz-transition: color .2s linear;
  transition: color .2s linear;
}

.footer a.icon.icon-vk:before {
  font-size: 9px;
}

.footer a.icon.icon-facebook:before {
  width: 16px;
  font-size: 16px;
}

.footer a.icon.icon-youtube:before {
  font-size: 12px;
}

.footer a.icon.icon-insta:before {
  width: 16px;
  font-size: 16px;
}

.delivery-point a {
  font-family: "SF" !important;
  position: relative;
  padding-left: 26px;
  display: inline-block;
  line-height: 20px;
}

.delivery-point a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.delivery-point a:hover:before {
  color: var(--main-text-color);
}

.delivery-point a:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--second-text-color);
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  -moz-transition: color .3s linear;
  transition: color .3s linear;
}

.pay-types__title {
  margin-right: 8%;
  letter-spacing: .2px;
  line-height: 20px;
}

.pay-types__list img {
  margin-right: 24px;
}

.pay-types__list img:last-child {
  margin-right: 0;
}

.delivery-types {
  height: 100%;
}

.delivery-types__title {
  margin-right: 16%;
  letter-spacing: .2px;
  line-height: 20px;
}

.delivery-types__list img:last-child {
  margin-right: 0;
}

.politics a {
  margin-right: 11%;
}

.politics a:last-child {
  margin-right: 0;
}

.dev-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.dev {
  position: relative;
  padding-left: 20px;
  display: inline-block;
  font-family: "SF" !important;
}

.dev:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dev:hover:before {
  color: var(--main-bg-ui-color);
}

.dev:before {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--second-text-color);
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  -moz-transition: color .3s linear;
  transition: color .3s linear;
}

/*______ END FOOTER ______*/

/*______ SLIDERS ______*/

.main-slider.loaded .slider {
  height: auto;
  overflow: visible;
}

.main-slider .uk-container {
  position: relative;
}

.main-slider .slider {
  width: 100%;
  height: 630px;
  overflow: hidden;
}

.main-slider .slider__arrows {
  position: absolute;
  right: 70px;
  bottom: 70px;
  width: 175px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 650;
}

.main-slider .slider__arrows .slide-prev,
.main-slider .slider__arrows .slide-next {
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}

.main-slider .slider__arrows .slide-prev:hover,
.main-slider .slider__arrows .slide-next:hover {
  color: var(--separate-line-ui-color);
}

.main-slider .slider__arrows:before {
  content: '';
  position: absolute;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 1px;
  height: 46px;
  background-color: #ffffff;
  opacity: .5;
}

.main-slider .slider .slick-dots {
  bottom: 20px;
}

.main-slider .slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ffffff;
}

.main-slider .slider .slick-dots button:before {
  color: var(--separate-line-ui-color);
  opacity: .7;
  font-size: 10px;
}

.main-slider .slider .btn {
  opacity: 0;
  animation-function: ease;
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.main-slider .slider.slide-up .slide .title,
.main-slider .slider.slide-up .slide .subtitle,
.main-slider .slider.slide-up .slide .btn {
  -webkit-animation-name: slide-up;
  -moz-animation-name: slide-up;
  animation-name: slide-up;
}

.main-slider .slide {
  position: relative;
  color: #ffffff;
}

.main-slider .slide img {
  -o-object-fit: cover;
  object-fit: cover;
}

.main-slider .slide__desc {
  position: absolute;
}

.main-slider .slide .title {
  margin-bottom: 33px;
  opacity: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  animation-delay: 0;
  animation-function: ease;
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.main-slider .slide .subtitle {
  opacity: 0;
  font-size: 30px;
  line-height: 37px;
  font-family: "Cormorant";
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
  animation-function: ease;
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.preview-slider .slider {
  position: relative;
  height: 80px;
  overflow: hidden;
}

.preview-slider .slider.slick-initialized {
  height: auto;
  overflow: visible;
}

.preview-slider .slider.slick-initialized:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 16%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#ffffff), to(transparent));
  background-image: -moz-linear-gradient(right, #ffffff 0%, transparent 100%);
  background-image: -o-linear-gradient(right, #ffffff 0%, transparent 100%);
  background-image: linear-gradient(270deg, #ffffff 0%, transparent 100%);
  /* background-image: linear-gradient(270deg, #f5f6f6 0%, rgba(245, 246, 246, 0) 100%); */
}

.preview-slider .slider .slick-list {
  margin: 0 -5px;
}

.preview-slider .slider .slide {
  position: relative;
  margin: 0 5px;
  width: 71px;
  height: 80px;
  text-align: center;
}

.preview-slider .slider .slide img {
  display: inline-block;
}

.preview-slider .slider .slide:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(131, 141, 155, 0.07);
}

.preview-slider .slider .slide-prev,
.preview-slider .slider .slide-next {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 9px;
  background: #ffffff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 120;
}

.preview-slider .slider .slide-prev {
  left: 0;
}

.preview-slider .slider .slide-next {
  right: 0;
}

/*______ END SLIDERS ______*/

/*______ MODALS ______*/

/*______ END MODALS ______*/

/*______ FORMS ______*/

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="tel"] {
  padding: 17px;
  height: 48px;
  font-size: 14px;
  letter-spacing: .1px;
  border: 1px solid var(--separate-line-ui-color);
}

.default-form label.error {
  display: block;
  font-size: 12px;
}

/*______ Search Form ______*/

.search-desktop {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background: #ffffff;
  z-index: 995;
}

.search-result-wrapper {
  padding: 48px 0;
  display: none;
}

.search-result-wrapper.visible {
  display: block;
}

.search-wrapper {
  border-bottom: 1px solid var(--separate-line-ui-color);
}

.search-wrapper .uk-container {
  position: relative;
}

.search-wrapper .uk-container .close-form {
  font-size: 24px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-wrapper .uk-container .close-form:before {
  color: var(--second-text-color);
}

.search-wrapper .uk-container .close-form:hover:before {
  color: var(--second-text-color-hover);
}

.search-form {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 0 20px;
  width: -webkit-calc(100% - 174px);
  width: -moz-calc(100% - 174px);
  width: calc(100% - 174px);
  height: 48px;
  font-size: 16px;
  color: var(--main-text-color);
  border: none;
  outline: none;
}

.search-form ::-webkit-input-placeholder {
  color: var(--main-text-color);
}

.search-form ::-moz-placeholder {
  color: var(--main-text-color);
}

.search-form :-ms-input-placeholder {
  color: var(--main-text-color);
}

.search-form ::-ms-input-placeholder {
  color: var(--main-text-color);
}

.search-form ::placeholder {
  color: var(--main-text-color);
}

.search-result {
  margin-bottom: 35px;
}

.search-result__title {
  margin-bottom: 30px;
  color: var(--main-text-color);
  font-size: 18px;
  letter-spacing: .1px;
}

.search-result .item__img {
  margin-bottom: 12px;
}

.search-result .item__img a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
}

.search-result .item__img a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(131, 141, 155, 0.07);
}

.search-result .item__name {
  margin-bottom: 8px;
}

.search-result .item__name a {
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: .1px;
}

.search-result .item__name a:hover {
  color: var(--main-text-color-hover);
}

.search-result .item__price .price__old {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-text-color);
}

/*______ End Search Form ______*/

/*______ Mobile Form ______*/

.mobile-form {
  margin: 15px 0 15px;
  display: none;
}

.mobile-form form {
  position: relative;
}

.mobile-form form input[type="text"] {
  padding: 0 40px 0 17px;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.mobile-form form .mobile-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: none;
  background: none;
  text-align: center;
}

.mobile-form form .mobile-search-btn:before {
  font-size: 16px;
}

/*______ End Mobile Form ______*/

/*______ Promo Form ______*/

.promo-form {
  font-size: 0;
}

.promo-form input[type="email"] {
  border-right: none;
}

/*______ End Promo Form ______*/

/*______ END FORMS ______*/

@media (min-width: 0px) {
  .separate-title:before {
    display: none;
  }

  .promo-panel__inner {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .promo-panel__inner .close-form {
    top: 15px;
    right: 0;
    font-size: 16px;
  }

  .promo-panel__text {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  .uk-container {
    padding: 0 15px;
  }

  .uk-grid {
    margin-left: -15px;
  }

  .uk-grid > * {
    padding-left: 15px;
  }

  .mobile-menu li {
    margin-left: 15px;
  }

  .category-list .custom-row {
    margin-bottom: 0;
  }

  .category-list .item__title {
    font-size: 22px;
    line-height: 28px;
  }

  .footer__top-inner {
    padding: 35px 0;
  }

  .footer__column-wrapper {
    margin-bottom: 15px !important;
  }

  .footer__title {
    position: relative;
    margin-bottom: 6px;
  }

  .footer__list {
    display: none;
  }

  .delivery-point {
    margin-bottom: 20px !important;
    height: auto;
  }

  .pay-types {
    height: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px !important;
  }

  .pay-types__title {
    margin-bottom: 10px;
  }

  .delivery-types {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .delivery-types__title {
    width: 100%;
    margin-bottom: 10px;
  }

  .politics {
    margin-bottom: 5px !important;
  }

  .politics a {
    margin-right: 0;
    display: block;
  }

  .dev {
    display: inline-block;
  }

  .main-slider {
    margin: 30px 0 75px;
  }

  .main-slider .slider__arrows {
    display: none;
  }

  .main-slider .slider .btn {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
  }

  .main-slider .slide__img {
    height: 300px;
  }

  .main-slider .slide__img img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
    font-family: 'object-fit: cover; object-position: cover;';
  }

  .main-slider .slide__desc {
    right: 10px;
    left: 10px;
    top: 40px;
    text-align: center;
  }

  .main-slider .slide .title {
    font-size: 28px;
    line-height: 34px;
  }

  .main-slider .slide .subtitle {
    display: none;
  }

  .search-wrapper .uk-container .close-form {
    right: 0;
  }
}

@media (min-width: 512px) {
  .pay-types__title {
    margin-bottom: 0;
  }

  .delivery-types__title {
    width: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 640px) {
  .separate-title:before {
    display: block;
  }

  .separate-title:after {
    width: 40%;
  }

  .mobile-menu li {
    margin-left: 7%;
  }

  .mobile-menu li a {
    font-size: 24px;
  }

  .mobile-menu li .icon-menu {
    margin-top: 3px;
  }

  .category-list .custom-row {
    margin-bottom: 60px;
  }

  .category-list .item__title {
    font-size: 30px;
    line-height: 36px;
  }

  .footer__top-inner {
    padding: 45px 0 15px;
  }

  .footer__column-wrapper {
    margin-bottom: 25px !important;
  }

  .footer__title {
    margin-bottom: 15px;
  }

  .footer__title i {
    display: none !important;
  }

  .footer__list {
    display: block !important;
  }

  .delivery-point {
    margin-bottom: 0 !important;
  }

  .pay-types {
    margin-bottom: 0 !important;
  }

  .pay-types__title {
    margin-bottom: 10px;
  }

  .politics a {
    margin-right: 5%;
    display: inline-block;
  }

  .main-slider .slide__img {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .promo-panel__inner .close-form {
    font-size: 24px;
  }

  .header-mobile:before {
    height: 42px;
  }

  .header-mobile .mobile-logo a {
    width: 120px;
  }

  .mobile-menu {
    margin-top: 16px;
  }

  .main-slider .slider__arrows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 55px;
  }

  .main-slider .slider .btn {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;
  }

  .main-slider .slide__img {
    height: 450px;
  }

  .main-slider .slide__desc {
    top: auto;
    right: auto;
    left: 30px;
    bottom: 50px;
    text-align: left;
  }

  .main-slider .slide .title {
    margin-bottom: 10px;
    font-size: 44px;
    line-height: 50px;
  }

  .main-slider .slide .subtitle {
    display: block;
    margin-bottom: 20px;
  }
}

@media (min-width: 960px) {
  .separate-title:after {
    width: 37%;
  }

  .btn--big {
    max-width: 277px;
    padding: 24px 34px;
    /* height: 64px; */
  }

  .promo-panel__inner {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .promo-panel__inner .close-form {
    right: -25px;
    top: 24px;
    font-size: 20px;
  }

  .promo-panel__text {
    margin-bottom: 0;
  }

  .uk-container {
    padding: 0 30px;
  }

  .uk-grid {
    margin-left: -30px;
  }

  .uk-grid > * {
    padding-left: 30px;
  }

  main.main {
    min-height: -webkit-calc(100vh - 531px);
    min-height: -moz-calc(100vh - 531px);
    min-height: calc(100vh - 531px);
  }

  .category-list .custom-row {
    margin-bottom: 108px;
  }

  .category-list .item__title {
    font-size: 42px;
    line-height: 44px;
  }

  .footer__top-inner {
    padding: 74px 0;
  }

  .footer__column-wrapper {
    margin-bottom: 0 !important;
  }

  .footer__title {
    margin-bottom: 28px;
  }

  .delivery-point {
    height: 100%;
  }

  .pay-types {
    height: 100%;
  }

  .pay-types__title {
    margin-bottom: 0;
  }

  .delivery-types__title {
    margin-right: 16%;
  }

  .delivery-types__list img {
    margin-right: 14px;
  }

  .politics {
    margin-bottom: 0 !important;
  }

  .dev-wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .main-slider {
    margin: 50px 0 120px;
  }

  .main-slider .slider__arrows {
    bottom: 75px;
  }

  .main-slider .slide__img {
    height: auto;
  }

  .main-slider .slide__img img {
    -o-object-fit: unset;
    object-fit: unset;
  }

  .main-slider .slide__desc {
    bottom: 60px;
    left: 70px;
  }

  .main-slider .slide .title {
    margin-bottom: 33px;
    font-size: 64px;
    line-height: 69px;
  }

  .main-slider .slide .subtitle {
    margin-bottom: 42px;
  }
}

@media (min-width: 1200px) {
  .promo-panel__inner .close-form {
    right: -20px;
    font-size: 30px;
  }

  .promo-panel__text {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 1250px) {
  .contacts:before {
    display: block;
  }
}

@media (min-width: 1300px) {
  .delivery-types__list img {
    margin-right: 24px;
  }

  .search-wrapper .uk-container .close-form {
    right: -25px;
  }
}

@media (min-width: 1400px) {
  .promo-panel__inner .close-form {
    right: -68px;
  }
}

@media (min-width: 1450px) {
  .search-wrapper .uk-container .close-form {
    right: -50px;
  }
}

@media (max-width: 639px) {
  .category-list .custom-row.uk-flex-row-reverse .item-6-10 .img-wrapper {
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .category-list .custom-row.uk-flex-row-reverse .item-6-10 .item__desc {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .category-list .custom-row.uk-flex-row-reverse .item-4-10 .img-wrapper {
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .category-list .custom-row.uk-flex-row-reverse .item-4-10 .item__desc {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .category-list .item {
    margin-bottom: 45px;
    width: 100% !important;
  }

  .category-list .item.item-6-10 .img-wrapper {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 15px;
  }

  .category-list .item.item-6-10 .item__title {
    margin-bottom: 5px;
  }

  .category-list .item.item-6-10 .item__desc {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .category-list .item.item-4-10 .img-wrapper {
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .category-list .item.item-4-10 .item__desc {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}