/*______ Main Fonts ______*/

@font-face {
  font-family: "SF";
  src: url("../fonts/sf/SFUIText-Regular.woff2"), url("../fonts/sf/SFUIText-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF";
  src: url("../fonts/sf/SFUIText-Medium.woff2"), url("../fonts/sf/SFUIText-Medium.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/cormorant/Cormorant-Italic.woff2"), url("../fonts/cormorant/Cormorant-Italic.woff");
  font-style: normal;
  font-display: swap;
}

/*______ Icomoon ______*/

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?m1ohhs");
  src: url("../fonts/icomoon/icomoon.eot?m1ohhs#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?m1ohhs") format("truetype"), url("../fonts/icomoon/icomoon.woff?m1ohhs") format("woff"), url("../fonts/icomoon/icomoon.svg?m1ohhs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}

.icon-close:before {
  content: "\e901";
  color: #d5d5d5;
}

.icon-pack:before {
  content: "\e902";
  color: #f95759;
}

.icon-phone:before {
  content: "\e903";
  color: #fff;
}

.icon-pin:before {
  content: "\e904";
  color: #fff;
}

.icon-search:before {
  content: "\e905";
}

.icon-small-arrow:before {
  content: "\e906";
}

.icon-star:before {
  content: "\e907";
}

.icon-facebook:before {
  content: "\e908";
}

.icon-insta:before {
  content: "\e909";
}

.icon-twitter:before {
  content: "\e90a";
}

.icon-vk:before {
  content: "\e90b";
}

.icon-youtube:before {
  content: "\e90c";
}

.icon-user:before {
  content: "\e90d";
  color: #fff;
}

.icon-star-fill:before {
  content: "\e90e";
}

/*______ COMPONENTS ______*/

/*______ Buttons ______*/

.btn {
  padding: 0 32px;
  display: inline-block;
  min-width: 174px;
  height: 48px;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: .1px;
  text-align: center;
  outline: none;
  border: 1px solid var(--second-bg-ui-color);
  cursor: pointer;
  background-color: #ffffff;
  -webkit-transition: background-color .45s, color .45s ease;
  -o-transition: background-color .45s, color .45s ease;
  -moz-transition: background-color .45s, color .45s ease;
  transition: background-color .45s, color .45s ease;
}

.btn:hover {
  color: #ffffff;
  background-color: var(--second-bg-ui-color);
}

.show-all {
  position: relative;
  padding-right: 42px;
  display: inline-block;
  font-family: "SF" !important;
  color: var(--main-text-color);
  font-size: 18px;
}

.show-all:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show-all:before {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 9px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
}

.show-all:hover {
  color: var(--main-text-color);
}

.show-all:hover:before {
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px);
}

.close-form {
  position: absolute;
  top: 50%;
  font-size: 24px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*______ End Buttons ______*/

/*______ UK-DROPDOWN ______*/

.uk-dropdown {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 50px 0;
}

/*______ End UK-DROPDOWN ______*/

/*______ Promo ______*/

.promo-panel {
  padding: 9px 0;
  background: var(--main-bg-color);
}

.promo-panel__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo-panel__inner .close-form {
  right: 0;
}

.promo-panel__text {
  margin-right: 20px;
  font-family: "Cormorant";
}

/*______ End Promo ______*/

/*______ END COMPONENTS ______*/

:root {
  --main-text-color: #535558;
  --second-text-color: #2b2d31;
  --main-text-color-hover: #2b2d31;
  --second-text-color-hover: #606265;
  --main-bg-color: #f5f6f6;
  --main-bg-ui-color: #F95759;
  --second-bg-ui-color: #2b2d31;
  --separate-line-ui-color: #d5d5d5;
}

body,
table {
  font-family: "SF";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--main-text-color);
}

body.mask {
  position: relative;
  height: 100vh;
}

body.mask:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 998;
}

body.mask header.header {
  position: relative;
  background: #ffffff;
  z-index: 999;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: none;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

.uk-container {
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.uk-container--large {
  max-width: 1400px;
}

.uk-grid-collapse {
  margin-left: 0 !important;
}

.uk-grid-collapse > * {
  padding-left: 0 !important;
}

/*______ HEADER ______*/

.header__top-bar {
  padding: 8px 0;
  background-color: var(--second-bg-ui-color);
  color: #ffffff;
  font-size: 12px;
}

.header__top-bar a {
  color: #ffffff;
  font-size: 12px;
}

.header__bottom-bar {
  border-bottom: 1px solid var(--separate-line-ui-color);
}

.top-bar__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-desk {
  position: relative;
}

.header-custom-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header-custom-grid .right-column {
  margin-left: auto;
  width: -webkit-calc(100% - 171px);
  width: -moz-calc(100% - 171px);
  width: calc(100% - 171px);
}

.geo {
  font-family: "SF" !important;
  position: relative;
  margin-right: 4%;
  padding-left: 23px;
}

.geo:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geo:before {
  position: absolute;
  top: 0;
  left: 0;
}

.contacts {
  position: relative;
  font-family: "SF" !important;
  padding-left: 28px;
}

.contacts:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contacts:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.top-bar__links {
  width: 56%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-bar__links a {
  margin-right: 4%;
  white-space: nowrap;
  letter-spacing: .2px;
}

.top-bar__links a:last-child {
  margin-right: 0;
}

.top-bar__links a[class^="icon-"] {
  position: relative;
  font-family: "SF" !important;
  padding-left: 31px;
}

.top-bar__links a[class^="icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bar__links a[class^="icon-"]:before {
  position: absolute;
  top: 0;
  left: 0;
}

.top-bar__contacts a:first-child {
  position: relative;
  padding-right: 15px;
}

.top-bar__contacts a:first-child:after {
  content: '';
  position: absolute;
  top: 1px;
  right: 0;
  width: 1px;
  height: 12px;
  display: block;
  background: #ffffff;
}

.top-bar__contacts a:last-child {
  padding-left: 14px;
}

.auth__enter {
  font-family: "SF" !important;
  position: relative;
  padding-left: 22px;
}

.auth__enter:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth__enter:before {
  position: absolute;
  top: 0;
  left: 0;
}

.auth a {
  display: block;
  letter-spacing: .2px;
}

.bottom-bar__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav {
  margin-right: 7%;
  width: 67%;
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
}

.main-nav > ul > li {
  margin-right: 5.3%;
  display: inline-block;
  vertical-align: top;
}

.main-nav > ul > li:last-child {
  margin-right: 0;
}

.main-nav > ul > li.stock-item {
  position: relative;
}

.main-nav > ul > li.stock-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--main-bg-ui-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-nav > ul > li.stock-item:hover a:after {
  display: none;
}

.main-nav > ul > li.nav-item > a {
  position: relative;
  padding: 28px 0;
  display: block;
  color: var(--second-text-color);
  font-size: 13px;
  line-height: 19px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}

.main-nav > ul > li.nav-item > a:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--second-bg-ui-color);
  opacity: 0;
  -webkit-transition: opacity .3s, bottom .3s ease;
  -o-transition: opacity .3s, bottom .3s ease;
  -moz-transition: opacity .3s, bottom .3s ease;
  transition: opacity .3s, bottom .3s ease;
}

.main-nav > ul > li.nav-item > a:hover,
.main-nav > ul > li.nav-item > a.uk-open {
  color: var(--second-text-color-hover);
}

.main-nav > ul > li.nav-item > a:hover:after,
.main-nav > ul > li.nav-item > a.uk-open:after {
  bottom: 0;
  opacity: 1;
}

.tool-bar {
  width: 26%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tool-bar a {
  position: relative;
  padding: 4px 0 4px 31px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "SF" !important;
}

.tool-bar a:before {
  position: absolute;
  top: 3px;
  left: 0;
  color: var(--main-text-color);
  font-family: 'icomoon' !important;
}

.tool-bar .text {
  font-size: 12px;
  letter-spacing: .2px;
  color: var(--second-text-color);
}

.tool-bar .search a:before {
  top: 1px;
}

.tool-bar .favorite.is-added a:before {
  color: var(--main-bg-ui-color);
}

.tool-bar .favorite a:before {
  top: 0;
}

.basket__icon {
  position: absolute;
  top: 5px;
  left: 0;
}

.basket__icon:before {
  color: var(--main-text-color);
}

.basket__count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  background: var(--main-bg-ui-color);
  color: #ffffff;
  font-size: 13px;
  letter-spacing: .2px;
}

.basket a {
  position: relative;
  padding-left: 29px;
  display: block;
  font-family: "SF" !important;
}

.basket a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.basket a:before {
  color: var(--second-text-color);
}

.logo-wrapper {
  margin-top: -25px;
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50% 50% 0 0;
}

.logo-wrapper .logo {
  width: 100%;
  height: 100%;
}

.logo-wrapper a {
  padding: 15px 10px 10px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-section-wrapper .menu-section {
  padding-left: 62px;
}

.menu-section-wrapper.uk-first-column .menu-section {
  padding-left: 0;
}

.menu-section-wrapper:nth-child(3) .menu-section {
  border: none;
}

.menu-section {
  height: 100%;
  border-right: 1px solid var(--separate-line-ui-color);
  padding-left: 92px;
}

.menu-section__title {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .54px;
  text-transform: uppercase;
}

.menu-section__title a {
  color: var(--second-text-color);
}

.menu-section__title a:hover {
  color: var(--second-text-color-hover);
}

.menu-section__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-section__links li {
  margin-bottom: 8px;
  display: block;
}

.menu-section__links li a {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: .09px;
  color: var(--main-text-color);
}

.menu-section__links li a:hover {
  color: var(--second-text-color);
}

/*______ END HEADER ______*/

/*______ MAIN CONTENT ______*/

/*______ END MAIN CONTENT ______*/

/*______ FOOTER ______*/

/*______ END FOOTER ______*/

/*______ SLIDERS ______*/

/*______ END SLIDERS ______*/

/*______ MODALS ______*/

/*______ END MODALS ______*/

/*______ FORMS ______*/

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="tel"] {
  padding: 17px;
  height: 48px;
  font-size: 14px;
  letter-spacing: .1px;
  border: 1px solid var(--separate-line-ui-color);
}

.default-form label.error {
  display: block;
  font-size: 12px;
}

/*______ Search Form ______*/

.search-desktop {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background: #ffffff;
  z-index: 995;
}

.search-result-wrapper {
  padding: 48px 0;
  display: none;
}

.search-result-wrapper.visible {
  display: block;
}

.search-wrapper {
  border-bottom: 1px solid var(--separate-line-ui-color);
}

.search-wrapper .uk-container {
  position: relative;
}

.search-wrapper .uk-container .close-form {
  right: -50px;
  font-size: 24px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-wrapper .uk-container .close-form:before {
  color: var(--second-text-color);
}

.search-wrapper .uk-container .close-form:hover:before {
  color: var(--second-text-color-hover);
}

.search-form {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 0 20px;
  width: -webkit-calc(100% - 174px);
  width: -moz-calc(100% - 174px);
  width: calc(100% - 174px);
  height: 48px;
  font-size: 16px;
  color: var(--main-text-color);
  border: none;
  outline: none;
}

.search-form ::-webkit-input-placeholder {
  color: var(--main-text-color);
}

.search-form ::-moz-placeholder {
  color: var(--main-text-color);
}

.search-form :-ms-input-placeholder {
  color: var(--main-text-color);
}

.search-form ::-ms-input-placeholder {
  color: var(--main-text-color);
}

.search-form ::placeholder {
  color: var(--main-text-color);
}

.search-result {
  margin-bottom: 35px;
}

.search-result__title {
  margin-bottom: 30px;
  color: var(--main-text-color);
  font-size: 18px;
  letter-spacing: .1px;
}

.search-result .item__img {
  margin-bottom: 12px;
}

.search-result .item__img a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
}

.search-result .item__img a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(131, 141, 155, 0.07);
}

.search-result .item__name {
  margin-bottom: 8px;
}

.search-result .item__name a {
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: .1px;
}

.search-result .item__name a:hover {
  color: var(--main-text-color-hover);
}

.search-result .item__price .price__old {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-text-color);
}

/*______ End Search Form ______*/

/*______ Promo Form ______*/

.promo-form {
  font-size: 0;
}

.promo-form input[type="email"] {
  border-right: none;
}

/*______ End Promo Form ______*/

/*______ END FORMS ______*/

@media (min-width: 0px) {
  .btn {
    min-width: 100px;
  }

  .promo-panel__inner {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .promo-panel__inner .close-form {
    top: 10px;
    right: 0;
  }

  .promo-panel__text {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  .uk-container {
    padding: 0 15px;
  }

  .uk-grid {
    margin-left: -15px;
  }

  .uk-grid > * {
    padding-left: 15px;
  }
}

@media (min-width: 960px) {
  .btn {
    min-width: 174px;
  }

  .promo-panel__inner {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .promo-panel__inner .close-form {
    right: -25px;
    top: 24px;
  }

  .promo-panel__text {
    margin-bottom: 0;
  }

  .uk-container {
    padding: 0 30px;
  }

  .uk-grid {
    margin-left: -30px;
  }

  .uk-grid > * {
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .promo-panel__inner .close-form {
    right: -20px;
  }

  .promo-panel__text {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 1250px) {
  .contacts:before {
    display: block;
  }
}

@media (min-width: 1400px) {
  .promo-panel__inner .close-form {
    right: -68px;
  }
}