/*______ SLIDERS ______*/

.main-slider {
	&.loaded {
		.slider {
			height: auto;
			overflow: visible;
		}
	}
	@media (min-width: $mob-xs) {
		margin-bottom: 75px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 120px;
	};
	.uk-container {
		position: relative;
	}
	.slider {
		width: 100%;
		height: 630px;
		overflow: hidden;
		&__arrows {
			position: absolute;
			right: 70px;
			bottom: 70px;
			width: 175px;
			display: flex;
			justify-content: space-between;
			z-index: 650;
			@media (min-width: $mob-xs) {
				display: none;
			};
			@media (min-width: 768px) {
				display: flex;
				bottom: 55px;
			};
			@media (min-width: $tablet-w) {
				bottom: 75px;
			};
			.slide-prev,
			.slide-next {
				color: #ffffff;
				cursor: pointer;
				transition: color .3s ease;
				&:hover {
					color: $bgUIGray;
				}
			}
			&:before {
				content: '';
				position: absolute;
				top: -13px;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				width: 1px;
				height: 46px;
				background-color: #ffffff;
				opacity: .5;
			}
		}
		.slick-dots {
			bottom: 20px;
			li {
				&.slick-active {
					button {
						&:before {
							opacity: 1;
							color: #ffffff;
						}
					}
				}
			}
			button {
				&:before {
					color: $bgUIGray;
					opacity: .7;
					font-size: 10px;
				}
			}
		}
		.btn {
			opacity: 0;
			
			animation-function: ease;
			animation-duration: .6s;
			animation-fill-mode: forwards;
			@media (min-width: $mob-xs) {
				animation-delay: .2s;
			};
			@media (min-width: 768px) {
				animation-delay: .4s;
			};
		}
		&.slide-up {
			.slide {
				.title,.subtitle, .btn {
					animation-name: slide-up;
				}
			}
		}
	}
	.slide {
		position: relative;
		color: #ffffff;
		outline: none;
		&:focus {
			outline: none;
		}
		img {
			object-fit: cover;
		}
		&__img {
			@media (min-width: $mob-xs) {
				height: 300px;
				img {
					@include object-fit;
				}
			};
			@media (min-width: $mob-s) {
				height: 350px;
			};
			@media (min-width: 768px) {
				height: 450px
			};
			@media (min-width: $tablet-w) {
				height: auto;
				img {
					//object-fit: unset;
				}
			};
		}
		&__desc {
			position: absolute;
			@media (min-width: $mob-xs) {
				right: 10px;
				left: 10px;
				top: 40px;
				text-align: center;
			};
			@media (min-width: 768px) {
				top: auto;
				right: auto;
				left: 30px;
				bottom: 50px;
				text-align: left;
			};
			@media (min-width: $tablet-w) {
				bottom: 60px;
				left: 70px;
			};
		}
		.title {
			margin-bottom: 33px;
			opacity: 0;
			animation-delay: 0;
			animation-function: ease;
			animation-duration: .6s;
			animation-fill-mode: forwards;
			@media (min-width: $mob-xs) {
				font-size: 28px;
				line-height: 34px;
			};
			@media (min-width: 768px) {
				margin-bottom: 10px;
				font-size: 44px;
				line-height: 50px;
			};
			@media (min-width: $tablet-w) {
				margin-bottom: 33px;
				font-size: 64px;
				line-height: 69px;
			};
		}
		.subtitle {
			opacity: 0;
			font-size: 30px;
			line-height: 37px;
			font-family: $secondFont;
			animation-delay: .2s;
			animation-function: ease;
			animation-duration: .6s;
			animation-fill-mode: forwards;
			@media (min-width: $mob-xs) {
				display: none;
			};
			@media (min-width: 768px) {
				display: block;
				margin-bottom: 20px;
			};
			@media (min-width: $tablet-w) {
				margin-bottom: 42px;
			};
		}
	}
}

.preview-slider {
	.slider {
		position: relative;
		height: 80px;
		overflow: hidden;
		&.slick-initialized {
			height: auto;
			overflow: visible;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: 16%;
				height: 100%;
				background-image: linear-gradient(270deg, #ffffff 0%, transparent 100%);
				/* background-image: linear-gradient(270deg, #f5f6f6 0%, rgba(245, 246, 246, 0) 100%); */
			}
		}
		.slick-list {
			margin: 0 -5px;
		}
		.slide {
			position: relative;
			margin: 0 5px;
			width: 71px;
			text-align: center;
			outline: none;
			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: none;
			}
			@media (min-width: $tablet-w) {
				height: 60px;
			};
			@media (min-width: $desk-w) {
				height: 80px;
			};
			img {
				display: inline-block;
				width: 100%;
				height: 100%;
				@include object-fit;
			}
			&:after {
				content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    display: block;
		    background-color: rgba(131, 141, 155, 0.07);
			}
		}
		.slide-prev,
		.slide-next {
			position: absolute;
			top: 50%;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			line-height: 20px;
			text-align: center;
			font-size: 9px;
			background: #ffffff;
			transform: translateY(-50%);
			z-index: 120;
		}
		.slide-prev {
			left: 0;
		}
		.slide-next {
			right: 0;
		}
	}
}



/*______ Detail slider ______*/

.sticky-block {
	position: relative;
	height: 100%;
	@media (min-width: $mob-xs) {
		//padding-bottom: 50px;
	};
	@media (min-width: $tablet-w) {
		background-color: rgba(131, 141, 155, 0.07);	
	};
	&:before {
		content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f5f6f6;
    @media (min-width: $tablet-w) {
    	display: none;
    };
	}
	&:after {
		content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f5f6f6;
	}
	.stocks {
		top: 40px;
	}
	.favorite-icon {
		top: 40px;
		right: 40px;
		opacity: 1;
		z-index: 250;
	}
}

.product-sliders-wrapper {
	position: relative;
}

.detail-product-slider {
		position: relative;
		margin-left: auto;
		width: 100%;
		z-index: 110;
		@media (min-width: $tablet-w) {
			/* max-width: 520px; */
			max-width: 440px;
			margin: 0 auto;
		};
		&:after {
			content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: block;
	    background-color: rgba(131, 141, 155, 0.07);
	    z-index: 100;
	}
	a {
		display: block;
		img {
			display: inline-block;

			@media (min-width: $mob-xs) {
				max-height: 300px;
			};
			@media (min-width: $mob-s) {
				max-height: 450px;
			};
			@media (min-width: $tablet-w) {
				max-height: 100%;
			};
			@media (min-width: $desk-w) {
				width: 100%;	
			};
		}
	}
	.slider {
		text-align: center;
		overflow: hidden;
		@media (min-width: $mob-s) {
			height: 380px;
		};
		@media (min-width: $desk-w) {
			height: 741px;
		};
		&.slick-initialized {
			height: auto;
			overflow: visible;
		}
		.slide {
			outline: none;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.slider__arrows {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		z-index: 650;
	}
	.slide-prev,
	.slide-next {
		position: absolute;
		display: flex;
		top: 50%;
		z-index: 600;
		width: 48px;
		height: 48px;
		line-height: 48px;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: #ffffff;
		cursor: pointer;
		transition: background .3s ease;
		&:hover {
			background: $textColor;
			i {
				&:before {
					color: #ffffff;
				}
			}
		}
		i {
			line-height: 10px;
			&:before {
				color: $textColor;
				font-size: 10px;
				line-height: 10px;
				transition: color .3s ease;
			}
		}
	}
	.slide-prev{
		top: 0;
		@media (min-width: $mob-xs) {
			left: 0;
		};
		@media (min-width: $mob-s) {
			left: 20px;
		};
		@media (min-width: $desk-w) {
			left: 80px;
		};
	}
	.slide-next {
		top: 0;
		@media (min-width: $mob-xs) {
			right: 0;
		};
		@media (min-width: $mob-s) {
			right: 20px;
		};
		@media (min-width: $desk-w) {
			right: 30px;
		};
	}
}

.detail-product-preview-slider {
	z-index: 680;
	@media (min-width: $mob-xs) {
		position: relative;
		width: 100%;
		padding: 25px 0;
		&:after {
			content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: block;
	    background-color: rgba(131, 141, 155, 0.07);
	    z-index: -1;
		}
	};
	@media (min-width: $tablet-w) {
		&:after {
			display: none;
		}
	};
	@media (min-width: $desk-w) {
		padding: 0;
		position: absolute;
		top: 130px;
		left: 0;
		width: 71px;
	};
	.slider {
		position: relative;
		@media (min-width: $mob-xs) {
			height: 92px;
			overflow: hidden;
			.slick-list {
				margin: 0 -5px;
			}
			max-width: 400px;
			margin: 0 auto;
		};

		@media (min-width: $desk-w) {
			height: 491px;
			overflow: hidden;
			margin: 0;
			max-width: none;
			&:after {
				display: none;
			}
			.slick-list {
				margin: 0;
			}
			&.slick-initialized {
				height: auto;
				//overflow: visible;
			}
		};

	}
	.slide {
		position: relative;
		text-align: center;
		outline: none;
		&:focus {
			outline: none;
		}
		&:hover {
			cursor: pointer;
		}
		@media (min-width: $mob-xs) {
			margin: 0 5px;
			border: 1px solid transparent;
		};
		&.slick-current {
			@media (min-width: $mob-xs) {
				border-color: $bgUIBlack;
			};
			@media (min-width: $desk-w) {
				border: none;
				&:after {
					background-color: transparent;
				}
			};
		}
		img {
			display: inline-block;
		}
		&:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $desk-w) {
			margin: 0;
			margin-bottom: 10px;
			border: none;
			width: 100%;
			height: 90px;
			&:after {
				content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    display: block;
		    background-color: rgba(131, 141, 155, 0.07);
		    z-index: 999;
		    transition: background-color .3s ease;
			}
			img {
				height: 100%;
			}
		};
	}
	.slick-prev,
	.slick-next {
		width: 21px;
		height: 21px;
		border-radius: 50%;
		background: #ffffff;
		z-index: 700;
		opacity: 1;
		font-size: 9px;
		text-align: center;
		line-height: 21px;
		&:before {
			display: none;
		}
		i {
			display: inline-block;
			&:before {
				font-size: 9px;
				color: $textColor;
			}
		}
	}
	.slick-prev {
		top: 0;
		left: 50%;
		transform: translateX(-50%) rotate(90deg);
		display: none !important;
	}
	.slick-next {
		top: auto;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%) rotate(90deg);
		@media (min-width: $mob-xs) {
			display: none !important;
		};
		@media (min-width: $desk-w) {
			display: block !important;
		};
	}
}
/*______ End Detail slider ______*/



/*______ END SLIDERS ______*/
