/*______ HEADER ______*/

.header {
	&__top-bar {
		padding: 8px 0;
		background-color: $bgUIBlack;
		color: #ffffff;
		font-size: 12px;
		a {
			color: #ffffff;
			font-size: 12px;
		}
	}
	&__bottom-bar {
		border-bottom: 1px solid $bgUIGray;
	}
}

.top-bar {
	&__info {

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-desk {
	position: relative;
}

.header-custom-grid {
	display: flex;
	.left-column {
		
	}
	.right-column {
		margin-left: auto;
		width: calc(100% - 171px);
	}
}

.geo {
	@include icomoon;
	position: relative;
	margin-right: 4%;
	padding-left: 23px;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.contacts {
	position: relative;
	@include icomoon;
	padding-left: 28px;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		@media (min-width: 1250px) {
			display: block;
		}
	}
}

.top-bar {
	&__links {
		width: 56%;
		display: flex;
		align-items: center;
		a {
			margin-right: 4%;
			white-space: nowrap;
			letter-spacing: .2px;
			&:last-child {
				margin-right: 0;
			}
		}
		a[class^="icon-"] {
			position: relative;
			@include icomoon;
			padding-left: 31px;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	&__contacts {
		a {
			&:first-child {
				position: relative;
				padding-right: 15px;
				&:after {
					content: '';
					position: absolute;
					top: 1px;
					right: 0;
					width: 1px;
					height: 12px;
					display: block;
					background: #ffffff;
				}
			}
			&:last-child {
				padding-left: 14px;
			}
		}
	}
}


.auth {
	&__enter {
		@include icomoon;
		position: relative;
		padding-left: 22px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__exit {
		@include icomoon;
		position: relative;
		padding-left: 22px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	a {
		display: block;
		letter-spacing: .2px;
	}
}

.bottom-bar {
	&__inner {
		display: flex;
		align-items: center;
	}
}

.main-nav {
	margin-right: 7%;
	width: 67%;
	&>ul {
		@include list-reset;
		font-size: 0;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		&>li {
			margin-right: 5.3%;
			display: inline-block;
			vertical-align: top;
			&:last-child {
				margin-right: 0;
			}
			&.stock-item {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: -15px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: $bgUIRed;
					transform: translateY(-50%);
				}
				&:hover {
					a {
						&:after {
							display: none;
						}
					}
				}
			}
			&.nav-item {
				&>a {
					position: relative;
					padding: 28px 0;
					display: block;
					color: $textSColor;
					font-size: 13px;
					line-height: 19px;
					letter-spacing: .5px;
					text-transform: uppercase;
					font-weight: 500;
					white-space: nowrap;
					&:after {
						content: '';
						position: absolute;
						bottom: 10px;
						left: 0;
						display: block;
						width: 100%;
						height: 2px;
						background: $bgUIBlack;
						opacity: 0;
						transition: opacity .3s, bottom .3s ease;
					}
					&:hover,&.uk-open {
						color: $textSHColor;
						&:after {
							bottom: 0;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.dropdown-menu {
		&>.uk-container {
			padding: 0 30px;
			@media (min-width: $tablet-w) {
				padding: 0 30px;
			};
		}
	}
}

.tool-bar {
	width: 26%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		position: relative;
		padding: 4px 0 4px 31px;
		display: flex;
		align-items: center;
		font-family: $mainFont !important;
		&:before {
			position: absolute;
			top: 3px;
			left: 0;
			color: $textColor;
			font-family: 'icomoon' !important;
		}
	}
	.text {
		font-size: 12px;
		letter-spacing: .2px;
		color: $textSColor;
	}
	.search {
		a {
			&:before {
				top: 1px;
			}
		}
	}
	.favorite {
		&.is-added {
			a {
				&:before {
					color: $bgUIRed;
				}
			}
		}
		a {
			&:before {
				top: 0;
			}
		}
	}
}

.basket {
	&__icon {
		position: absolute;
		top: 7px;
		left: 0;
		&:before {
			color: $textColor;
		}
	}
	&__count {
		position: absolute;
		top: -8px;
		right: -8px;
		width: 16px;
		height: 16px;
		display: block;
		border-radius: 50%;
		text-align: center;
		line-height: 16px;
		background: $bgUIRed;
		color: #ffffff;
		font-size: 13px;
		letter-spacing: .2px;
	}
}

.header {
	.basket {
		a {
			position: relative;
			padding-left: 29px;
			display: block;
			@include icomoon;
			&:before {
				color: $textSColor;
			}
		}
	}
}

.logo-wrapper {
	margin-top: -25px;
	width: 100px;
	height: 100px;
	background: #ffffff;
	border-radius: 50% 50% 0 0;
	.logo {
		width: 100%;
		height: 100%;
	}
	a {
		padding: 15px 10px 10px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.menu-section-wrapper {
	.menu-section {
		padding-left: 62px;
	}
	&.uk-first-column {
		.menu-section {
			padding-left: 0;
		}
	}
	&:nth-child(3) {
		.menu-section {
			border: none;
		}
	}
}
.menu-section {
	height: 100%;
	border-right: 1px solid $bgUIGray;
	padding-left: 92px;
	&__title {
		margin-bottom: 30px;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: .54px;
		text-transform: uppercase;
		
		a {
			color: $textSColor;
			&:hover {
				color: $textSHColor;
			}
		}
	}
	&__links {
		@include list-reset;
		li {
			margin-bottom: 8px;
			display: block;
			a {
				font-size: 14px;
				line-height: 19px;
				letter-spacing: .09px;
				color: $textColor;
				&:hover {
					color: $textSColor;
				}
			}
		}
	}
}


/*______ Mobile header ______*/

.header-mobile {
	position: relative;
	padding: 20px 0;
	border-bottom: 1px solid $bgUIGray;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: #000000;
		z-index: 89;
		@media (min-width: 768px) {
			height: 42px;
		};
	}
	.mobile-logo {
		margin-top: -10px;
		a {
			padding: 15px 10px 10px;
			position: relative;
			display: inline-block;
			z-index: 90;
			background: #ffffff;
			border-radius: 50% 50% 0 0;
			@media (min-width:768px) {
				width: 120px;
			};
			img {
				width: 100%;
			}
		}
	}
}

.mobile-menu {
	@include list-reset;
	margin-top: 12px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 0;
	@media (min-width: 768px) {
		margin-top: 16px;
	};
	li {
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		@media (min-width: $mob-xs) {
			margin-left: 15px;
		};
		@media (min-width: $mob-s) {
			margin-left: 7%;
		};
		a {
			display: inline-block;
			color: $textColor;
			font-size: 20px;
			&.icon-search {
				margin-top: 1px;
			}
			@media (min-width: $mob-s) {
				font-size: 24px;
			};
		}
		.icon-menu {
			margin-top: 2.5px;
			@media (min-width: $mob-s) {
				margin-top: 3px;
			};
		}
	}
	.basket {
		a {
			display: block;
		}
		&__icon {
			top: 1px;
		}
		.text {
			display: none;
		}
	}
}

.uk-offcanvas-bar {
	padding: 0;
	font-size: 14px;
	background: #ffffff;
	li {
		position: relative;
		padding: 5px 10px 5px 15px;
		border-bottom: 1px solid $bgUIGray;
	}
	i {
		position: absolute;
		top: 50%;
		right: 0;
		padding: 10px;
		font-size: 14px;
		transform: translateY(-50%);
	}
	a {
		position: relative;
		padding: 5px 0;
		color: $textColor;
		&:hover,&:focus,&:active {
			color: $textColor;
		}
	}
	.uk-nav {
		overflow: hidden;
	}
	.uk-panel__top {
		padding: 10px 0;
		border-bottom: 2px solid $bgUIGray;
	}
	.contacts {
		padding-left: 36px;
		&:before {
			top: 5px;
			left: 15px;
			display: block;
			color: $textColor;
		}
		a {
			display: block;
			width: 100%
		}
	}
	.auth {
		margin-top: 5px;
		&>div {
			padding-left: 36px;
			&:before {
				top: 5px;
				left: 15px;
				display: block;
				color: $textColor;
			}
		}
	}
	a.icon-pack {
		@include icomoon;
		position: relative;
		padding-left: 31px;
		&:before {
	    position: absolute;
	    top: 5px;
	    left: 0;
		}
	}
}

.uk-panel__bottom {
	ul {
		padding-left: 0;
		li {
			padding: 5px 10px 5px 15px;
			a {
				padding: 5px 0;
				font-weight: 500;
				display: block;
			}
		}
	}
}

.uk-nav__inner {
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
	z-index: 999;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	transition: all .2s linear;
	overflow: hidden;
	.navbar-close {
		font-size: 20px;
		@include icomoon;
		color: $textColor;
		display: flex;
		align-items: center;
		span {
			padding-left: 15px;
			font-size: 18px;
		}
	}
	&.hidden {
		left: -100%;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}
	ul.menu-sublist {
		margin-top: 10px;
		border-top: 2px solid $bgUIGray;
	} 
	.navbar-close {
		position: static;
		padding-top: 0;
		top: 0;
		transform: none;
		&:before {
			font-size: 14px;
		}
	}
}

/*______ End Mobile header ______*/

/*______ END HEADER ______*/
