/*______ MODALS ______*/

.default-modal {
	.uk-close {
    position: absolute;
    top: 30px;
    right: 30px;
    svg {
    	width: 24px;
    	height: 24px;
    	color: $textHColor;
	    &:hover {
				color: $textColor;
	    }
    }
	}
	.text {
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 14px;
	}
	.default-form {
		max-width: 550px;
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"] {
			width: 100%;
		}
		.btn {
			max-width: 100%;
		}
	}
}

.modal-fastview {
	.uk-modal-dialog {
		margin: 0 auto;
		width: 100%;
		max-width: 1260px !important;
		.btn {
			max-width: 100%;
		}
		.uk-close {
	    top: -30px;
	    right: 30px;
		}
	}
	.uk-modal-body {
		padding: 0;
	}
	.product-detail__description {
		padding-top: 30px;
		padding-left: 11%;
	}
	.title-h1 {
		font-size: 33px;
		line-height: 34px;
	}
}

.modal-basket {
	.uk-modal-dialog {
		margin: 0 auto;
		width: 100%;
		max-width: 1055px !important;
	}
	.uk-modal-body {
		
		@media (min-width: $mob-xs) {
			padding: 35px 4%;
		};
		@media (min-width: $mob-s) {
			padding: 62px 6%;
		};
		@media (min-width: $tablet-w) {
			padding: 62px 10%;
		};
	}
	.title-h1 {
		margin-bottom: 54px;
		font-size: 33px;
		line-height: 37px;
	}
	.products-panel {
		height: 100%;
		
		@media (min-width: $mob-xs) {
			margin-top: 30px;
			padding-top: 30px;
			border-top: 1px solid $bgUIGray;
		};
		@media (min-width: $tablet-w) {
			margin: 0;
			padding-top: 0;
			/* padding-left: 12.5%; */
			padding-left: 9.5%;
			border-top: none;
			border-left: 1px solid $bgUIGray;
		};
	}
	.btn-wrapper {
		@media (min-width: $mob-s) {
			max-width: 510px;
		};
		.btn {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


.modal-auth {
	.uk-modal-dialog {
		width: 400px;	
	}
	.uk-modal-body {
		@media (min-width: $mob-xs) {
			padding: 30px 15px;
		};
		@media (min-width: $mob-s) {
			padding: 30px;
		};
	}
}

.modal-password {
	.uk-modal-dialog {
		width: 400px;	
	}
	.uk-modal-body {
		@media (min-width: $mob-xs) {
			padding: 30px 15px;
		};
		@media (min-width: $mob-s) {
			padding: 30px;
		};
	}
}

.form-politics {
	margin-top: 20px;
	a {
		font-size: 14px;
		line-height: 16px;
		color: $textColor;
	}
}

/*______ END MODALS ______*/
