/*______ Basket ______*/

main {
	.basket {
		margin-bottom: 120px !important;
	}
}

.basket {
	.order-list {
		margin-bottom: 50px;
		~.attantion-block {
			margin-top: -50px;
		}
		a {
			padding-left: 0;
		}
	}
	.promo-section {
		position: relative;
		@media (min-width: $mob-s) {
			width: 70%;
		};
		@media (min-width: $tablet-w) {
			width: 58%;
		};
		input[type="text"] {
			width: 100%;
			padding-right: 184px;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.basket-info {
		padding-right: 5%;
	}
	.total-section {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $bgUIGray;
		@media (min-width: $tablet-w) {
			margin: 0;
			padding: 0;
			border-top: none;
			border-left: 1px solid $bgUIGray;
			padding-left: 14%;
		};
	}
}

.basket-bottom-section {
	margin-bottom: 60px;
	.btn.btn--reset {
		padding: 16px 0;
		text-align: left;
	}
	.delivery-list {
		margin-bottom: 30px;
		@media (min-width: $mob-s) {
			margin-bottom: 0;
		};
	}
}

/* .order-list {
	&__header {
		padding: 22px 0;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $bgUIGray;
		font-size: 12px;
		line-height: 13px;
		letter-spacing: .09px;
		text-align: left;
		@media (min-width: $mob-xs) {
			display: none;
		};
		@media (min-width: $tablet-w) {
			display: flex;
		};
		.desc {
			padding-left: 102px;
			width: 26.7%;
		}
		.size {
			width: 8.5%;
		}
		.color {
			width: 11.5%;
		}
		.price {
			width: 5%;
		}
		.discount {
			width: 4%;
		}
		.counter {
			width: 7%;
		}
		.ammount {
			width: 15.5%;
		}
	}
	&__body {

	}
	.product {
		position: relative;
		padding: 22px 0;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $bgUIGray;
		.mobile-title {
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 15px;
			font-weight: 500;
			display: block;
		}
		@media (max-width: 959px) {
			flex-wrap: wrap;
			&>* {
				margin-bottom: 10px;
				width: auto;
				padding-left: 0;
			}
			.product__desc {
				padding-left: 0;
			}
		};
		&:last-child {
			border-bottom: none;
		}
		&__desc {
			width: 26.7%;
		}
		&__img {
			float: left;
			width: 72px;
			height: 81px;
			margin-right: 30px;
			@media (min-width: $mob-xs) {
				margin-bottom: 15px;
				width: 100%;
			};
			@media (min-width: $mob-s) {
				width: 72px;
			};
			a {
				@include img-gradient;
				@media (min-width: $mob-xs) {
					display: inline-block;
				};
				@media (min-width: $mob-s) {
					display: block;
				};
			}
		}
		&__text {
			overflow: hidden;
			@media (min-width: $mob-xs) {
				width: 100%;
			};
			@media (min-width: $mob-s) {
				width: auto;
			};
		}
		&__name {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 16px;
			color: $textHColor;
			a {
				color: $textHColor;
				line-height: 16px;
			}
		}
		&__article {
			font-size: 12px;
			line-height: 14px;
		}
		&__size {
			width: 8.5%;
			font-size: 14px;
			line-height: 16px;
		}
		&__color {
			width: 11.5%;
			font-size: 14px;
			line-height: 16px;
			.discount-text {
				&:empty {
					margin-top: 0;
				}
				margin-top: 20px;
				font-size: 12px;
				line-height: 14px;
			}
		}
		&__price {
			width: 5%;
			font-size: 14px;
			line-height: 16px;
			.price-product-wrapper {
				height: 36px;
			}
			div {
				margin: 0 0 5px;
				display: block;
				&.old-price {
					&:empty {
						display: none;
					}
				}
			}
			.discount-price {
				margin-top: 15px;
			}
		}
		&__discount {
			width: 4%;
			font-size: 14px;
			line-height: 16px;
		}
		&__counter {
			width: 7%;
		}
		&__ammount {
			position: relative;
			display: flex;
			justify-content: space-between;
			width: 15.5%;
			.ammount__val {
				font-size: 14px;
				line-height: 15px;
				font-weight: 500;
			}
			.basket-favorite {
				width: 58px;
				text-align: center;
				font-size: 12px;
				color: $textColor;
				opacity: 0;
				visibility: hidden;
				transition: all .3s ease;
				i {
					text-align: center;
					display: block;
					font-size: 25px;
					color: $textHColor;
				}
			}
			.icon-close {
				font-size: 24px;
				&:before {
					color: $bgUIGray;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: -1px;
			left: -22px;
			right: -22px;
			bottom: -1px;
			display: block;
			background: transparent;
			border: 1px solid transparent;
			transition: border-color .3s ease;
			z-index: -1;
		}
		&:hover {
			&:after {
				border-color: $bgUIGray;
			}
			.basket-favorite {
				opacity: 1;
				visibility: visible;
			}
		}
	}
} */

.calc {
	width: 78px;
	font-size: 0;
	&>* {
		display: inline-block;
		vertical-align: top;
		height: 36px;
		line-height: 36px;
		background-color: #f5f6f6;
		color: $textColor;
		border: none;
		text-align: center;
	}
	span {
		width: 24px;
		font-size: 20px;
		cursor: pointer;
		user-select: none;
		&:active {
			background: darken(#d5d5d5, 20%);
		}
	}
	input {
		padding: 0 !important;
		height: 36px !important;
		line-height: 36px !important;
		width: 30px;
		outline: none;
		border: none !important;
	}
}


.order-list {
	&__header {
		padding: 15px 0;
		color: $textColor;
		font-family: $mainFont;
		font-size: 0;
		border-bottom: 1px solid $bgUIGray;
		&>div {
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
		}
		.name {
			width: 30%;
			padding-left: 40px;
			@media (min-width: $tablet-w) {
				width: 25%;
			}
			@media (min-width: $desk-w) {
				width: 30%;
			}
		}
		.desc {
			width: 25%;
		}
		.counter {
			width: 15%;
			text-align: center;
		}
		.price {
			width: 10%;
			text-align: center;
		}
		.discount {
			width: 10%;
			text-align: center;
		}
		.ammount {
			width: 10%;
			text-align: center;
		}
	}
	&__body {
		font-size: 0;
	}
	.product {
		position: relative;
		padding: 25px 0;
		border-bottom: 1px solid $bgUIGray;
		font-family: $mainFont;
		&:last-child {
			border-bottom: none;
		}
		&>div {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
		}
		&__name {
			@media (min-width: $mob-xs) {
				margin-bottom: 20px;
				width: 100%;
			}
			@media (min-width: 550px) {
				margin-bottom: 0;
				width: 50%;
			}
			@media (min-width: $tablet-w) {
				width: 25%;
			}
			@media (min-width: $desk-w) {
				width: 30%;
			}
			@include clearfix();
			.img {
				margin-right: 25px;
				float: left;
				width: 72px;
				height: 81px;
				a {
					display: block;
					@include img-gradient();
					img {
						max-width: 100%;
					}
				}
				@media (min-width: $desk-w) {
					float: left;
				}
			}
			.text {
				padding-right: 16px;
				overflow: hidden;
				.name {
					margin-bottom: 8px;
					display: block;
					font-size: 14px;
					line-height: 16px;
					color: $textColor;
				}
				.article {
					color: $textColor;
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
		&__desc {
			width: 25%;
			@media (min-width: $mob-xs) {
				margin-bottom: 10px;
				width: 100%;
				display: flex !important;
				flex-wrap: wrap;
				align-items: top;
			}
			@media (min-width: 550px) {
				width: 50%;
				display: inline-block !important;
			}
			@media (min-width: $tablet-w) {
				width: 25%;
			}
			.desc-section {
				margin-bottom: 10px;
				font-size: 0;
				@media (min-width: $mob-xs) {
					width: 50%;
				};
				@media (min-width: 550px) {
					width: 100%;
				};
				&>div {
					display: inline-block;
					vertical-align: top;
				}
				&:last-child {
					margin-bottom: 0;
				}
				.desc-section__name {
					margin-right: 5%;
					width: 100%;
					@media (min-width: $mob-xs) {
						font-size: 14px;
						line-height: 16px;
					};
					@media (min-width: $tablet-w) {
						margin-bottom: 10px;
						width: 100%;
						font-size: 12px;
						line-height: 14px;
					}
					@media (min-width: $desk-w) {
						margin-bottom: 0;
						width: 100%;
					}
				}
				.desc-section__value {
					width: 70%;
					font-size: 14px;
					line-height: 16px;
					word-break: break-word;
					a {
						color: $textHColor;
					}
				}
			}
		}
		&__counter {
			width: 15%;
			text-align: center;
			@media (min-width: $mob-xs) {
				margin-bottom: 20px;
				width: 100%;
				text-align: left;
			}
			@media (min-width: 550px) {
		    width: 100%;
		    padding-left: 50%;
			}
			@media (min-width: $tablet-w) {
				margin-bottom: 0;
				padding-left: 0;
				width: 15%;
				text-align: center;
			}
			.calc {
				@media (min-width: $tablet-w) {
					margin: 0 auto;
				};
			}
		}
		&__price {
			@media (min-width: $mob-xs) {
				margin-bottom: 10px;
				width: 100%;
				text-align: left;
			}
			@media (min-width: 550px) {
		    padding-left: 50%;
		    width: 100%;
			}
			@media (min-width: $tablet-w) {
				padding-left: 0;
				width: 10%;
				text-align: center;
			}
			.old-price,
			.current-price {
				display: block;
				line-height: 16px;
			}
			.old-price {
				margin-right: 0;
			}
		}
		&__price-wrapper {
			display: inline-block;
			vertical-align: top;
		}
		&__discount {
			line-height: 16px;
			@media (min-width: $mob-xs) {
				width: 100%;
				text-align: left;
			}
			@media (min-width: 550px) {
		    padding-left: 50%;
		    width: 100%;
			}
			@media (min-width: $tablet-w) {
				padding-left: 0;
				width: 10%;
				text-align: center;
			}
		}
		&__ammount {
			font-weight: 500;
			line-height: 16px;
			@media (min-width: $mob-xs) {
				width: 100%;
				text-align: left;
			}
			@media (min-width: 550px) {
		    padding-left: 50%;
		    width: 100%;
			}
			@media (min-width: $tablet-w) {
				padding-left: 0;
				width: 10%;
				text-align: center;
			}
		}
		&__delete {
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			line-height: 14px;
			color: $textColor;
			cursor: pointer;
			transition: all .3s ease;
			&:hover {
				color: $textHColor;
				text-decoration: none;
				i {
					&:before {
						color: $textColor;
					}
				}
			}
			i {
				margin-bottom: 3px;
				text-align: center;
				display: block;
				font-size: 20px;
				line-height: 25px;
				height: 25px;
				color: $textHColor;
				&:before {
					transition: color .3s ease;
				}
			}
			@media (min-width: 550px) {
				right: 10px;
				bottom: 20px;
			}
			@media (min-width: $tablet-w) {
				right: 25px;
			}
		}
		&__events {
			@media (min-width: $mob-xs) {
				margin-top: 15px;
			};
			@media (min-width: 550px) {
				margin-top: 0;
				padding-left: 50%;
			};
			@media (min-width: $mob-s) {
				position: absolute;
				bottom: 35px;
				right: 35px;
				margin-top: 0;
			};
			@media (min-width: $tablet-w) {

			};
		}
		.basket-favorite {
			margin-right: 10px;
			width: 58px;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			font-size: 12px;
			line-height: 14px;
			color: $textColor;
			transition: all .3s ease;
			&.is-added {
				i {
					&:before {
						content: '\e914';
						color: $bgUIRed;
					}
				}
			}
			i {
				margin-bottom: 3px;
				text-align: center;
				display: block;
				font-size: 25px;
				line-height: 25px;
				height: 25px;
				color: $textHColor;
			}
		}
	}
	.mobile-label {
		margin-right: 20px;
		font-size: 14px;
		line-height: 16px;
		min-width: 20%;
		display: inline-block;
		vertical-align: top;
	  height: auto !important;
	  line-height: 14px !important;
	  border: none !important;
	}

	.counter-mobile-value {
		@media (min-width: $mob-xs) {
			margin-left: 30px;
	    height: auto !important;
	    line-height: 1 !important;
	    border: none !important;
		}
		@media (min-width: $tablet-w) {
			margin-left: 0;
			height: 40px !important;
			line-height: 40px !important;
		}
	}
}

/*______ End Basket ______*/
