/*______ MAIN CONTENT ______*/

main.main {
	@media (min-width: $mob-xs) {
		padding-top: 30px;
		padding-bottom: 60px;
	};
	@media (min-width: $tablet-w) {
		padding-bottom: 90px;
		min-height: calc(100vh - 531px);
	};
	@media (min-width: $desk-w) {
		padding-bottom: 120px;
		padding-top: 50px;
	};
}

.search-result-content {
	.catalog-body {
		margin-bottom: 0;
	}
	.uk-pagination {
		@media (min-width: $mob-s) {
			justify-content: center;
		};
		@media (min-width: $tablet-w) {
			justify-content: flex-end;	
		};
	}
}

.not-found-page {
	&__text {
		margin-bottom: 30px;
	}
	.catalog-body {
		margin-bottom: 0;
	}
	.uk-pagination {
		@media (min-width: $mob-s) {
			justify-content: center;
		};
		@media (min-width: $tablet-w) {
			justify-content: flex-end;	
		};
	}
}

.products-list {
	margin-bottom: 104px;
	@media (min-width: $mob-xs) {
		margin-bottom: 60px;
	};
	@media (min-width: $mob-xs) {
		margin-bottom: 80px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 104px;
	};
	&:last-child {
		margin-bottom: 0;
	}
	&__inner {
		margin-bottom: 20px;
	}
	.separate-title {
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}



/*______ About company short ______*/

.about-company-short {
	@media (min-width: $mob-xs) {
		margin-bottom: 50px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 110px;
	};
}

.company-short {
	&__title {
		
		position: relative;
		color: $textColor;

		font-weight: 500;
		z-index: 15;
		@media (min-width: $mob-xs) {
			margin-bottom: 0;
			font-size: 26px;
			line-height: 26px;
			text-align: center;
		};
		@media (min-width: $tablet-w) {
			margin-bottom: -47px;
			font-size: 34px;
			line-height: 34px;
			text-align: left;
		};
		@media (min-width: $desk-w) {
			font-size: 64px;
			line-height: 64px;
		};
	}
	&__desc-wrapper {
		@media (min-width: $tablet-w) {
			padding-left: 18%;
		};
	}
	&__desc {
		padding-top: 27px;
		@media (min-width: $mob-xs) {
			margin-bottom: 20px;
		};
		@media (min-width: $tablet-w) {
			margin-bottom: 56px;
		};
	}
	figure {
		position: relative;
		margin-left: -71px;
		display: block;
		z-index: 14;
		@media (min-width: $mob-xs) {
			margin-left: 0;
		};
		@media (min-width: $tablet-w) {
			margin-left: -71px;
		};
		figcaption {

			text-align: center;
			font-family: $secondFont;
			@media (min-width: $mob-xs) {
				margin-top: 10px;
				font-size: 18px;
				line-height: 24px;
			};
			@media (min-width: $tablet-w) {
				margin-top: 36px;
				font-size: 24px;
				line-height: 30px;
			};
		}
	}
	
}

/*______ End About company short ______*/



/*______ Instargram section ______*/

.instagram-section {
	&__photo-list {
		margin-bottom: 60px;
	}
	&__subtitle {
		color: $textColor;
		text-align: center;
		a {
			
			display: inline-block;
			color: $textColor;
			span {
				margin-top: 5px;
				display: block;
				font-size: 18px;
				line-height: 21px;
				letter-spacing: .1px;
			}
		}
	}
}

/*______ End Instargram section ______*/



/*______ Catalog ______*/

.catalog-bar {
	margin-bottom: 15px;
}

.sort-panel {
	display: flex;
	width: 100%;
	@media (min-width: $tablet-w) {
		justify-content: flex-end;
	};
	.custom-select {
		width: 100%;
		max-width: 300px;
	}
}

.tags-list-wrapper {
	margin-bottom: 35px;
	max-width: 600px;
	height: 34px;
	overflow: hidden;
	&.mCustomScrollbar {
		height: auto;
		overflow: auto;
	}
	@media (min-width: $mob-xs) {
		display: none;
	};
	@media (min-width: $tablet-w) {
		display: block;
	};
}

.tags-list {
	@include list-reset;
	font-size: 0;
	line-height: 0;
	width: 100%;
	li {
		margin-right: 10px;
		margin-bottom: 10px;
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: .2px;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			a {
				color: #ffffff;
				background: $textColor;
				i {
					display: block;
				}
			}
		}
		a {
			padding: 9px 12px;
			display: flex;
			align-items: center;
			color: $textColor;
			background: #ffffff;
			border-radius: 16px;
			border: 1px solid $bgUIGray;
			&:hover {
				color: #ffffff;
				background: $textColor;
			}
			i {
				margin-left: 12px;
				display: none;
			}
		}
	}
}

.catalog {
	.show-more {
		margin-top: 10px;
		margin-left: 12px;
		display: none;
	}
	.separate-title {
		margin-bottom: 30px;
	}
	&-body {
		margin-bottom: 89px;
		&__list {
			position: relative;
			z-index: 300;
			@media (min-width: $mob-xs) {
				margin-bottom: 40px;
			};
			@media (min-width: $tablet-w) {
				margin-bottom: 0px;
			};
			@media (min-width: $desk-w) {
				margin-bottom: 15px;
			};
		}
	}
	.card {
		max-height: 380px;
		@media (min-width: $mob-xs) {
			margin-bottom: 115px !important;
		};
		@media (min-width: $desk-w) {
			margin-bottom: 86px !important;
		};
		&__img {
			a {
				height: 309px;
			}
			img[data-src] {
				overflow: hidden;
				@media (min-width: $tablet-w) {
					height: 309px;
				};
				@media (min-width: $desk-w) {
					height: 309px;
				};
			}
		}
	}
	.uk-pagination {
		@media (min-width: $mob-xs) {
			justify-content: center;
		};
		@media (min-width: $mob-s) {
			justify-content: flex-end;
		};
		@media (min-width: $tablet-w) {
			justify-content: flex-end;
		};
	}
}

.js__ajax-pagination {
	position: relative;
	z-index: 200;
}

/*______ Subcategories ______*/

.subcategories {
	@media (min-width: $mob-xs) {
		margin-bottom: 60px;
	};
	@media (min-width: $mob-s) {
		margin-bottom: 75px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 90px;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 127px;
	};
}

.subcategory {
	@media (min-width: $mob-xs) {
		margin-bottom: 45px !important;
	};
	@media (min-width: $mob-s) {
		margin-bottom: 0 !important;
	};
	&.push-left {
		.subcategory__img {
			@media (min-width: $desk-w) {
				margin-left: -70px;
			};
		}
	}
	&.push-right {
		.subcategory__img {
			@media (min-width: $desk-w) {
				margin-right: -70px;
			};
		}
	}
	.img-wrapper {
		position: relative;
		z-index: 49;
	}
	.round-link {
		position: absolute;
		z-index: 50;
		bottom: 19%;
		right: 15.2%;
	}
	&__img {
		margin-bottom: 30px;
		height: 432px;
		@media (min-width: $mob-xs) {
			margin-bottom: 15px;
		};
		img {
			@include object-fit;
		}
	}
	&__title {
		@media (min-width: $mob-xs) {
			margin-bottom: 5px;
			font-size: 22px;
			line-height: 28px;
		};
		@media (min-width: $mob-s) {
			font-size: 30px;
			line-height: 36px;
		};
		@media (min-width: $tablet-w) {
			margin-bottom: 20px;
			font-size: 42px;
			line-height: 44px;
		};
		a {
			color: $textHColor;
			&:hover {
				color: $textColor;
			}
		}
	}
	&__subtitle {
		font-size: 24px;
		line-height: 30px;
		font-family: $secondFont;
	}
}


.subcategories-list {
	@media (min-width: $mob-xs) {
		margin-bottom: 15px;
	};
	@media (min-width: $mob-s) {
		margin-bottom: 45px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 90px;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 127px;
	};
}

.subcategories-item {
	@media (min-width: $mob-xs) {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px !important;
		max-width: 380px;
	};
	@media (min-width: $mob-s) {
		margin-bottom: 30px !important;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 0 !important;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	};
	&__img {
		@media (min-width: $mob-xs) {
			margin-bottom: 15px;
		};
		@media (min-width: $tablet-w) {
			margin-bottom: 30px;
		};
		a {
			display: block;
			position: relative;
			&:after {
		    content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    display: block;
		    background-color: rgba(131, 141, 155, 0.07);
			}
			img {
				transition: transform .45s ease;
			}
			img[data-src] {
				height: 432px;
			}
			&:hover {
				img {
					transform: scale(1.02);
				}
			}
		}
	}
	&__title {
		@media (min-width: $mob-xs) {
			font-size: 22px;
			line-height: 28px;			
		};
		@media (min-width: $tablet-w) {
			font-size: 33px;
			line-height: 36px;
		};
		a {
			color: $textHColor;
			&:hover {
				color: $textColor;
			}
		}
	}

}	

/*______ End Subcategories ______*/

/*______ End Catalog ______*/

.seo-text {
	.text {
		margin-bottom: 38px;
	}
}




/*______ Delivery Type ______*/

.delivery-list-types {
	height: 100%;
}

.delivery-type {
	margin-bottom: 45px;
	padding-bottom: 45px;
	border-bottom: 1px solid $bgUIGray;
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}

/*______ End Delivery Type ______*/

.contacts-map {
	@media (min-width: $mob-xs) {
		margin-top: 40px;
	};
	@media (min-width: $tablet-w) {
		margin-top: 0;
	};
}



/*______ History page ______*/

.top-banner {
	margin-bottom: -30px !important;
	width: 100%;
	height: 310px;
}

.history-section {
	margin-bottom: 60px;
	@media (min-width: $tablet-w) {
		margin-bottom: 100px;
	};
	&:last-child {
		margin-bottom: 0;
	}
	&__img {
		position: relative;
		margin: 10px 0;
		min-height: 100%;
		.big-title {
			position: absolute;
			top: -44px;
			margin: 0;
			padding: 0;
			@media (min-width: $mob-xs) {
				position: static;
				margin-bottom: 20px;
			};
			@media (min-width: $tablet-w) {
				position: absolute;
				margin-bottom: 0;
			};
		}
	}
	&__text {
		@media (min-width: $mob-xs) {
			margin-top: 30px;
		};
		@media (min-width: $tablet-w) {
			margin-top: 0;
		};
		&.border-right {
			@media (max-width: $tablet-w) {
				border: none;
			};
		}
	}
	.title-h1 {
		@media (max-width: $tablet-w) {
			margin-bottom: 0;
			padding-bottom: 0;
		};
	}
}

/*______ End History page ______*/


/*______ END MAIN CONTENT ______*/
