/*______ Product detail ______*/

.product-detail {
	overflow-x: hidden;
	margin-top: -50px;
	margin-bottom: 127px;
	border-bottom: 1px solid $bgUIGray;
	background: #ffffff;
	@media (min-width: $mob-xs) {
		margin-top: -30px;
	};
	@media (min-width: $tablet-w) {
		margin-top: -30px;
	};
	@media (min-width: $desk-w) {
		margin-top: -50px;	
	};
	h1 {
		padding-bottom: 0;
		border-bottom: none;
	}
	&__article {
		margin-bottom: 30px;
		padding-bottom: 20px;
		font-size: 12px;
		line-height: 14px;
		border-bottom: 1px solid $textColor;
	}
	&__description {
		padding-top: 65px;
		@media (min-width: $mob-xs) {
			padding-left: 0;
			padding-bottom: 35px;
		};
		@media (min-width: $tablet-w) {
			padding-left: 15%;
			padding-bottom: 85px;
		};
	}
	&__materials {
		margin-bottom: 30px;
		display: flex;
		align-items: flex-end;
		.materials {
			font-size: 12px;
			line-height: 14px;
			letter-spacing: .9px;
		}
	}
	&__label {
		margin-right: 16px;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: .1px;
		color: $textHColor;
	}
	&__text {
		margin-bottom: 28px;
		font-size: 16px;
		line-height: 24px;
	}
	&__sizes {
		margin-bottom: 30px;
		table {
			width: 100%;
			thead {
				th {
					font-size: 14px;
					letter-spacing: .1px;
					font-weight: 400;
				}
			}
			tbody {
				td {
					font-size: 12px;
					letter-spacing: .09px;
				}
			}
			th,td {
				text-align: left;
			}
		}
		.sizes-clothes {
			margin-bottom: 10px;
			display: flex;
			align-items: center;
		}		
		.sizes-clothes-list {
			@include list-reset;
			font-size: 0;
			li {
				margin-right: 10px;
				display: inline-block;
				vertical-align: top;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 42px;
					height: 36px;
					font-size: 14px;
					line-height: 15px;
					text-transform: uppercase;
					color: $bgUIBlack;
					border: 1px solid $bgUIBlack;
					transition: background-color .3s, color .3s ease;
					&.disabled {
						border-color: rgba(131, 141, 155, 0.07);;
						background-color: rgba(131, 141, 155, 0.07);;
						color: #67696b;
						&:hover {
							cursor: no-drop;
						}
					}
					&.checked {
						background-color: $bgUIBlack;
						color: #ffffff;
					}
					&:hover:not([class="disabled"]) {
						background-color: $bgUIBlack;
						color: #ffffff;
					}
				}
			}
		}
	}
	&__small-title {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 15px;
		letter-spacing: .1px;
	}
	&__prices {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		.old-price {
			margin-right: 20px;
			color: $bgUIRed;
			font-size: 14px;
			line-height: 15px;
			text-decoration: line-through;
			&:empty {
				margin-right: 0;
			}
		}
		.current-price {
			color: $textColor;
			font-size: 24px;
			font-weight: 500;
		}
	}
	&__controls {
		margin-bottom: 30px;
		max-width: 497px;
		.btn-wrapper {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			.btn {
				position: relative;
				&--dark {
					@include icomoon;
					margin-right: 30px;
					font-size: 14px;
					line-height: 22px;
					flex-basis: 395px;
					max-width: none;
					display: flex;
					justify-content: center;
					align-items: center;
					&:before {
						position: static;
						display: inline-block;
						margin-right: 20px;
						font-size: 20px;
						@media (min-width: $mob-xs) {
							margin-right: 10px;
						};
						@media (min-width: $mob-s) {
							margin-right: 20px;
						};
					}
				}
			}
		}
	}
	&__buy {
		max-width: 395px;
		display: flex;
		justify-content: center;
		align-items: center;
		.buy-one-click {
			position: relative;
			margin-right: 27px;
			padding-right: 29px;
			color: $textHColor;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: .1px;
			&:after {
				content: '';
				position: absolute;
				top: 2px;
				right: 0;
				width: 1px;
				height: 14px;
				background: $bgUIGray;
			}
		}
	}
	&__counts {
		font-size: 12px;
		line-height: 16px;
		color: $textColor;
	}
	&__settings-list {
		@include list-reset;
		font-size: 0;
		line-height: 0;
		li {
			position: relative;
			margin-right: 10%;
			margin-bottom: 20px;
			padding-left: 15px;
			display: inline-block;
			vertical-align: top;
			width: 40%;
			font-size: 12px;
			line-height: 13px;
			letter-spacing: .09px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: '';
				position: absolute;
				top: 3.5px;
				left: 0;
				width: 3px;
				height: 3px;
				background: $textHColor;
				border-radius: 50%;
			}
		}
	}
	&__delivery-list {
		@include list-reset;
		li {
			margin-bottom: 14px;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: .09px;
			a {
				margin-left: 3px;
				position: relative;
				position: relative;
				color: $textColor;
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 100%;
					height: 1px;
					bottom: -1px;
					border-bottom: 1px solid $bgUIGray;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		i {
			margin-right: 15px;
			float: left;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			font-size: 24px;
			&.icon-truck {
				font-size: 17px;
			}
		}
	}
}

.product-detail-section {
	margin-bottom: 30px;
	padding-bottom: 27px;
	border-bottom: 1px solid $bgUIGray;
}

.colors-list {
	&__inner-wrapper {
		height: 91px;
		overflow: hidden;
	}
	&__inner {
    margin: 0 -10px 0 -10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
		font-size: 0;
		.color {
			position: relative;
			margin-right: 10px;
			margin-bottom: 10px;
			display: inline-block;
			vertical-align: top;
			border: 1px solid transparent;
			cursor: pointer;
			transition: border-color .3s ease;
			&:after {
				content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    display: block;
		    background-color: rgba(131, 141, 155, 0.07);
		    z-index: 999;
		    transition: background-color .3s ease;
			}
			&.checked {
				border-color: $textColor;
			}
			img[data-src] {
				width: 72px;
				height: 82px;
			}
		}
	}
	&__btn {
		@include icomoon;
		position: relative;
		margin-top: 6px;
		padding-right: 22px;
		font-size: 12px;
		line-height: 13px;
		letter-spacing: .09px;
		color: $textColor;
		display: none;
		&:hover {
			color: $textHColor;
		}
		&:before {
			position: absolute;
			top: 50%;
			right: 0;
			font-size: 9px;
			line-height: 9px;
			transform: translateY(-50%) rotate(90deg);
		}
		&.open {
			&:before {
				transform: translateY(-50%) rotate(-90deg);
			}
		}
	}
}

.top-review {
	.review__top {
		justify-content: flex-start;
		.review__rating {
			margin-right: 0;
			&:after {
				display: none;
			}
		}
		@media (min-width: $tablet-w) {
			.review__user {
				margin-right: 15px;
				padding-right: 15px;
			}
		};
		@media (min-width: $desk-w) {
			.review__user {
				margin-right: 27px;
				padding-right: 30px;
			}
		};
	}
	.review__target {
		display: none;
	}
}

/*______ End Product detail ______*/


/*______ Product additional desc ______*/

.product-additional-desc {
	.category-list {
		.item__subtitle,
		.item__link {
			display: none;
		}
		.item__title {
			font-size: 33px;
			line-height: 33px;
			@media (min-width: $tablet-w) {
				max-width: 85%;
			};
		}
	}
}

/*______ End Product additional desc ______*/
