/*______ Filter catalog ______*/

.left-sidebar {
	position: relative;
	height: 100%;
	@media (min-width: $mob-xs) {
		margin-bottom: 30px !important;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 0 !important;
	};
}

.left-sidebar__inner{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 20px;
	border: 1px solid $bgUIBlack;
	border-top: none;
	display: none;
	background: #ffffff;
	z-index: 980;
	transform: translateY(-30px);
	@media (min-width: $tablet-w) {
		position: static;
		padding: 0;
		height: 100%;
		border: none;
		display: block !important;
		transform: none;
	};
}

.sidebar-menu {
	@media (min-width: $tablet-w) {
		margin-right: 30px;
		padding-top: 16px;
		padding-right: 25%;
		height: 100%;
		border-right: 1px solid $bgUIGray;
	};
	ul {
		@include list-reset;
		li {
			margin-bottom: 2px;
			&.parent {
				a {
					color: $textHColor;
				}
			}
			a {
				position: relative;
				display: block;
				font-size: 12px;
				line-height: 22px;
				letter-spacing: .09px;
				color: $textColor;
				i {
					position: absolute;
					top: 50%;
					right: 0;
					font-size: 9px;
					padding: 7px;
					display: block;
					transform: translateY(-50%);
					transition: transform .3s ease;
					&.is-open {
						transform: translateY(-50%) rotate(-90deg);
					}
				}
			}
		}
		&.sublist {
			padding-left: 15px;
			display: none;
		}
	}
}

.dostavka-nav {
	@include list-reset;
	@media (min-width: $tablet-w) {
		margin-top: 10px;
	};
	li {
		&.active {
			a {
				background: $bgColor;
			}
		}
		a {
			padding: 8px;
			display: inline-block;
			color: $textColor;
			font-size: 16px !important;
			line-height: 22px !important;
			&:hover {
				background-color: $bgColor;
			}
		}
	}
}

.filter {
	position: relative;
	@media (min-width: $desk-w) {
		padding-top: 29px;
		padding-right: 12%;
	};
}

.btn--filter {
	position: relative;
	display: block;
	max-width: 100%;
	text-transform: uppercase;
	color: $bgUIBlack;
	&:focus,&:active,&:hover {
		background: #ffffff;
		color: $bgUIBlack;
	} 
}

.filter-icon {
	position: absolute;
	top: 15px;
	left: 20px;
	width: 30px;
	height: 20px;
	display: block;
	span {
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background: $bgUIBlack;
		&:before {
			content: '';
			position: absolute;
			top: -3px;
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			border: 2px solid $bgUIBlack;
			background: #ffffff;
			transition: all .3s ease;
		}
		&.line-1 {
			top: 0;
			&:before {
				left: 60%;
			}
		}
		&.line-2 {
			top: 50%;
			transform: translateY(-50%);
			&:before {
				right: 50%;
			}
		}
		&.line-3 {
			bottom: 0;
			&:before {
				left: 50%;
			}
		}
	}
	&.active {
		span {
			&.line-1 {
				top: 0;
				&:before {
					left: 20%;
				}
			}
			&.line-2 {
				top: 50%;
				transform: translateY(-50%);
				&:before {
					right: 20%;
				}
			}
			&.line-3 {
				bottom: 0;
				&:before {
					left: 20%;
				}
			}
		}
	}
	&.light {
		&.active {
			span {
				background: #ffffff;
				&:before {
					background: $bgUIBlack;
					border-color: #ffffff
				}
			}
		}
	}
	&.dark {
		&.active {
			span {
				background: $bgUIBlack;
				&:before {
					background: #ffffff;
					border-color: $bgUIBlack;
				}
			}
		}
	}
}

/*______ End Filter catalog ______*/



/*______ Filter Menu ______*/


.filter-menu {
	@media (min-width: $mob-xs) {
		display: none;
	};
	@media (min-width: $tablet-w) {
		padding-top: 29px;
		padding-right: 12%;
		display: block;
	};
	&__title-section {
		position: relative;
		padding-bottom: 21px;
		display: block;
		color: $textHColor;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: .1px;
		border-bottom: 1px solid $textHColor;
		cursor: pointer;
		&:hover {
			color: $textColor;
		}
		&.is-open {
			i {
				transform: rotate(180deg);
			}
		}
		i {
			position: absolute;
			top: 0;
			right: 0;
			padding: 7px;
			display: block;
			font-size: 6px;
		}
	}
}

.filter-menu-list {
	@include list-reset;
	ul {
		@include list-reset;
	}
	&>li, li.parent {
		&>a {
			position: relative;
			padding: 21px 0;
			display: block;
			color: $textHColor;
			font-size: 14px;
			line-height: 22px;
			letter-spacing: .1px;
			border-bottom: 1px solid $textHColor;
			&.is-open {
				border-bottom-color: $bgUIGray;
			}
			i {
				&.is-open {
					transform: translateY(-50%) rotate(-90deg);
				}
				position: absolute;
				top: 50%;
				right: 0;
				font-size: 9px;
				padding: 7px;
				display: block;
				transform: translateY(-50%);
				transition: transform .3s ease;
			}
		}
		a.is-open {
			&~ul.sublist {
				display: block;
			}
		}
		ul.sublist {
			padding: 22px 0 22px 10px;
			display: none;
			li {
				margin-bottom: 2px;
				&:last-child {
					margin-bottom: 0;
				}
				 a {
					position: relative;
					display: block;
					color: $textColor;
					font-size: 14px;
					line-height: 22px;
					letter-spacing: .09px;
				 }
				 &.parent {
				 	a {
				 		padding: 0;
				 		border-bottom: none;
				 		color: $textHColor;
				 	}
				 }
			}
			ul {
				padding: 5px 0 5px 15px;
			}
		}
	}
}

span.kombox-filter-property-name {
  text-transform: uppercase;
  font-weight: 500;
}

/*______ End Filter Menu ______*/


