/*______ Order ______*/

.order {
	@media (min-width: $tablet-w) {
		margin-right: 4.5%;
		padding-right: 8.5%;
		border-right: 1px solid $bgUIGray;
	};
	.total-list {
		margin-bottom: 22px;
	}
	.attantion-block {
		.attantion-block__text {
			width: 100%;
		}
		.attantion-block__add-info {
			display: none;
		}
	}
}

.order-delivery {
	margin-bottom: 30px;
	padding-bottom: 30px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: .09px;
	border-bottom: 1px solid $bgUIGray;
}

.order-list {
	margin-bottom: 35px;
}

.product-buyed {
	position: relative;
	padding: 22px 0;
	border-bottom: 1px solid $bgUIGray;
	@include clearfix;
	&:before {
		content: '';
		position: absolute;
		top: -1px;
		left: -22px;
		right: -22px;
		bottom: -1px;
		display: block;
		background: transparent;
		border: 1px solid transparent;
		transition: border-color .3s ease;
		z-index: -1;
	}
	&:hover {
		&:before {
			border-color: $bgUIGray;
		}
	}
	&__img {
		margin-right: 30px;
		width: 72px;
		height: 81px;
		float: left;
		a {
			position: relative;
			display: block;
			text-align: center;
			@include img-gradient;
		}
		img {
			max-width: 100%;
		}
	}
	&__number {
		margin-bottom: 5px;
		padding: 2px 4px;
		display: inline-block;
		vertical-align: top;
		color: #ffffff;
		font-size: 12px;
		line-height: 14px;
		background: $bgUIRed;
	}
	&__desc {
		overflow: hidden;
	}
	&__title {
		margin-bottom: 14px;
		line-height: 1px;
		a {
			color: $textHColor;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: .1px;
		}
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		line-height: 14px;
		&>* {
			position: relative;
			@media (min-width: $mob-xs) {
				padding: 0;
				width: 100%;
			};
			@media (min-width: $mob-s) {
				width: auto;
				padding: 0 19px;
			};
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
				&:after {
					display: none;
				}
			}
			&:after {
				content: '';
				position: absolute;
				top: 2px;
				right: 0;
				display: block;
				height: 12px;
				width: 1px;
				background: $bgUIGray;
				@media (min-width: $mob-xs) {
					display: none;
				};
				@media (min-width: $mob-s) {
					display: block;
				};
			}
		}
	}
}


.product-order {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid $bgUIGray;
	font-size: 0;
	@include clearfix;
	.remove-product {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 14px;
		&:before {
			transition: color .3s ease;
		}
		&:hover {
			color: $textColor;
			&:before {
				color: $textColor;
			}
		}
	}
	&__img {
		margin-right: 20px;
		float: left;
		width: 72px;
		height: 81px;
		a {
			display: block;
			@include img-gradient;
			img {
				max-width: 100%;
			}
		}
	}
	&__desc {
		position: relative;
		overflow: hidden;
		max-width: 65%;
	}
	&__name {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: .1px;
		color: $textHColor;
		a {
			color: $textHColor;
		}
	}
	&__article {
		margin-bottom: 17px;
		color: $textColor;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: .09px;
	}
	&__settings {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.calc {
			margin-right: 12%;
		}
	}
	&__sizes {
		color: $textHColor;
		font-size: 12px;
		line-height: 14px;
		.val {
			margin-left: 5px;
			font-size: 14px;
			line-height: 15px;
			text-transform: uppercase;
			letter-spacing: .1px;
			color: $textColor;
		}
	}
	&__prices {
		font-size: 14px;
		line-height: 15px;
		.current-price {
			font-weight: 500;
		}
	}
	.settings-wrapper {
		padding: 0 15px 15px 0;
		@media (min-width: $tablet-w) {
			padding: 0 22px 15px 0;
		};
		&:last-child {
			padding-right: 0;
		}
	}
}

.scroll-block {
	.send-form {
		margin-bottom: 40px;
	}
}



/*______ Events ______*/

.events {
	margin-top: 60px;
	&__img {
		a {
			position: relative;
			display: block;
			max-width: 380px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				background-image: linear-gradient(225deg, rgba(85, 89, 94, 0) 0%, #2b2d31 100%);
				opacity: .5;
				z-index: 10;
			}
			img {
				max-width: 100%;
			}
		}
	}
	&__title {
		position: absolute;
		bottom: 40px;
		left: 32px;
		right: 32px;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: .1px;
		color: #ffffff;
		z-index: 12;
	}
}

/*______ End Events ______*/

/*______ End Order ______*/
