/*______ COMPONENTS ______*/

h1, .title-h1 {
	margin-bottom: 26px;
	padding-bottom: 20px;
	font-size: 42px;
	line-height: 46px;
	border-bottom: 1px solid $textHColor;
}

h2, .title-h2 {
	margin-bottom: 36px;
	font-size: 36px;
	line-height: 42px;
}

.tooltip-link {
	position: relative;
	font-size: 12px;
	letter-spacing: .2px;
	color: $textHColor;
	&:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		background: $textHColor;
	}
	&:hover {
		color: $textColor;
	}
}

.separate-title {
	position: relative;
	color: $textColor;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	@media (min-width: $mob-xs) {
		margin-bottom: 30px !important;
	};
	@media (min-width: $mob-s) {
		margin-bottom: 45px !important;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 65px !important;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 85px !important;
	};
	&>* {
		position: relative;
		z-index: 3;
		display: inline-block;
		max-width: 284px;
		width: 100%;
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		display: block;
		height: 1px;
		background: $textColor;
		transform: translateY(-50%);
		z-index: 1;
		@media (min-width: $mob-xs) {
			display: none;	
		};
		@media (min-width: $mob-s) {
			display: block;
		};
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		height: 100%;
		background: #ffffff;
		z-index: 2;
		transform: translateX(-50%);
		@media (min-width: $mob-s) {
			width: 40%;
		};
		@media (min-width: $tablet-w) {
			width: 37%;
		};
	}
}

/*______ Buttons ______*/

.btn {
	display: inline-block;
	width: 100%;
	max-width: 174px;
	color: $textColor;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: .1px;
	text-align: center;
	outline: none;
	border: 1px solid $bgUIBlack;
	cursor: pointer;
	background-color: #ffffff;
	transition: all .45s ease;
	@media (min-width: $mob-xs) {
		padding: 16px 10px
	};
	@media (min-width: $mob-s) {
		padding: 16px 15px;
	};
	&:hover {
		color: #ffffff;
		background-color: $bgUIBlack;
	}
	&--light {
		background: transparent;
		border-color: #ffffff;
		color: #ffffff;
		&:hover {
			border-color: $bgUIBlack;
		}
	}
	&--dark {
		background: $bgUIBlack;
		border-color: $bgUIBlack;
		color: #ffffff;
		&:hover {
			background: $textColor;
			border-color: $textColor;
		}
	}
	&--medium {
		max-width: 243px;
	}
	&--big {
		max-width: 277px;
		@media (min-width: $tablet-w) {
			
			padding: 24px 34px;
			/* height: 64px; */
		};
	}
	&--favorite {
		padding: 19px 15px;
		display: inline-block;
		width: 73px;
		height: 56px;
		text-align: center;
		font-size: 21px;
		line-height: 21px;
		border: 1px solid $bgUIBlack;
	}
}

.show-all {
	position: relative;
	padding-right: 42px;
	display: inline-block;
	@include icomoon;
	color: $textColor;
	font-size: 18px;
	&:before {
		position: absolute;
		top: 6px;
		right: 0;
		font-size: 9px;
		transition: transform .3s ease;
	}
	&:hover {
		color: $textColor;
		&:before {
			transform: translateX(7px);
		}
	}
}

.close-form {
	position: absolute;
	top: 50%;
	font-size: 24px;
	transform: translateY(-50%);
}

.align-block-center {
	height: 100%;
	display: flex;
	align-items: center;
}

/*______ End Buttons ______*/


/*______ UK-DROPDOWN ______*/

.dropdown-menu {
	display: none;
}

.uk-dropdown {
	box-shadow: none;
	padding: 50px 0;
}

/*______ End UK-DROPDOWN ______*/


.favorite-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 50;
	transition: transform .2s, opacity .2s ease;
	&.is-added {
		a {
			&:before {
				content: "\e914";
			}
		}
	}
	@media (min-width: $tablet-w) {
		right: 10px;
		opacity: 0;
		z-index: -1;
	};
	a {
		color: $textColor;
	}
}


/*______ Promo ______*/

	.promo-panel {
		padding: 9px 0;
		background: $bgColor;
		&__inner {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (min-width: $mob-xs) {
				flex-wrap: wrap;
			};
			@media (min-width: $tablet-w) {
				flex-wrap: nowrap;
			};
			.close-form {
				right: 0;
				@media (min-width: $mob-xs) {
					top: 15px;
					right: 0;
					font-size: 16px;
				};
				@media (min-width: 768px) {
					font-size: 24px;
				};
				@media (min-width: $tablet-w) {
					right: -25px;
					top: 24px;
					font-size: 20px;
				};
				@media (min-width: $desk-w) {
					right: -20px;
					font-size: 30px;
				};
				@media (min-width: 1400px) {
					right: -68px	;
				}
			}
		}
		&__text {
			margin-right: 20px;
			font-family: $secondFont;
			@media (min-width: $mob-xs) {
				margin-bottom: 20px;
				font-size: 20px;
				line-height: 26px;
			};
			@media (min-width: $tablet-w) {
				margin-bottom: 0;
			};
			@media (min-width: $desk-w) {
				font-size: 24px;
				line-height: 30px;
			};
		}
	}

/*______ End Promo ______*/



/*______ Breadcrumbs ______*/

.breadcrumbs-wrapper {
	border-bottom: 1px solid $bgUIGray;
}

.breadcrumbs {
	@include list-reset;
	margin-bottom: 20px;
	padding: 17px 0;
	font-size: 0;
	line-height: 0;
	li {
		display: inline-block;
		vertical-align: top;
		color: $textColor;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.2px;
		&:hover {
			color: $textHColor;
			a {
				color: $textHColor;
			}
		}
		a {
			position: relative;
			margin-right: 20px;
			padding-right: 23px;
			color: $textColor;
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 3px;
				height: 3px;
				background: $textColor;
				border-radius: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

/*______ End Breadcrumbs ______*/



/*______ Pagination ______*/

.uk-pagination {
	&>* {
		padding-left: 30px;
	}
	li {
		&.uk-active {
			&>* {
				color: $textColor;
			}
		}
		span, a {
			font-size: 14px;
			line-height: 26px;
			color: $textHColor;
			letter-spacing: .2px;
		}
	}
}

/*______ End Pagination ______*/




/*______ Review ______*/

.reviews-list {
	@media (min-width: $mob-xs) {
		margin-bottom: 60px;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 106px;
	};
	&-wrapper {
		margin: 0 auto;
		max-width: 786px;
	}
	&__inner {
		margin-bottom: 66px;
	}
	.review {
		margin-bottom: 30px;
		padding-bottom: 40px;
		border-bottom: 1px solid $bgUIGray;
		&:last-child {
			margin-bottom: 0;
			border: none;
			padding-bottom: 0;
		}
	}
	.reviews-btn-add {
		width: 100%;
		max-width: 100%;
	}
}

.review {
	&__top {
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-start;
		&>div {
			position: relative;
			margin-right: 3.45%;
			padding-right: 3.82%;
			&:last-child {
				margin-right: 0;
				padding-right: 0;
				&:after {
					display: none;
				}
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 1px;
				height: 14px;
				display: block;
				background: $bgUIGray;
				transform: translateY(-50%);
			}
		}
		@media (min-width: $mob-xs) {
			flex-wrap: wrap;
			&>div {
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $bgUIGray;
				&:after {
					display: none;
				}
			}
			@media (min-width: $mob-s) {
				flex-wrap: nowrap;
				&>div {
					width: auto;
					margin-right: 3.45%;
					margin-bottom: 0;
					padding-bottom: 0;
					border: none;
					&:after {
						display: block;
					}
				}
			};
		};
	}
	&__user {
		display: flex;
		align-items: center;
	}
	&__name {
		margin-right: 17px;
		font-size: 14px;
		line-height: 15px;
		letter-spacing: .1px;
		color: $textHColor;
	}
	&__date {
		font-size: 12px;
		line-height: 13px;
		letter-spacing: .09px;
	}
	&__label {
		margin-right: 17px;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: .09px;
	}
	&__rating {
		display: flex;
		align-items: center;
	}
	&__target {
		display: flex;
		align-items: center;
	}
	&__color {
		margin-right: 13px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		overflow: hidden;
		span {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&__color-text {
		position: relative;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: .9px;
		@media (min-width: $mob-s) {
			display: none;
		};
		@media (min-width: 768px) {
			display: block;
		};
		&:after {
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			background: $bgUIGray;
		}
	}
	&__text {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 24px;
	}
	&__read-more {
		font-size: 14px;
		line-height: 15px;
		letter-spacing: .1px;
		color: $textHColor;
		&:hover {
			color: $textColor;
		}
	}
}

.rating {
	max-width: 75px;
	input[type="radio"] {
		position: absolute;
		margin: 0;
		width: 0;
		height: 0;
		opacity: 0;
		line-height: 0;
		&:checked ~ label {
			&:before {
				content: '\e914';
			}
		}
	}
	label {
		cursor: pointer;
		float: right;
		font-size: 14px;
		line-height: 14px;
		&:before {
			line-height: 0;
			font-size: 14px;
			transition: color .3s ease;
		}
	}
}

/*______ End Review ______*/


/*______ END COMPONENTS ______*/



/*______ Animation ______*/

.slide-up-content {
	animation: slide-up 1.3s ease forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-left {
	animation: slide-left 1.3s ease forwards;
}

@keyframes slide-left {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
		transform: translateX(0);
  }
}

/*______ End Animation ______*/
