:root {
	--main-text-color: #535558;
	--second-text-color: #2b2d31;
	--main-text-color-hover: #2b2d31;
	--second-text-color-hover: #606265;
	--main-bg-color: #f5f6f6;
	--main-bg-ui-color: #F95759;
	--second-bg-ui-color: #2b2d31;
	--separate-line-ui-color: #d5d5d5;
}
body,
table {
  font-family: $mainFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $textColor;
}

body {
	overflow-x: hidden;
	&.mask {
		position: relative;
		height: 100vh;
		&:after {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, .75);
			z-index: 998;
		}
		header.header {
			position: relative;
			background: #ffffff;
			z-index: 999;
		}
	}
}

.preloader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #ffffff;
	transition: all .3s ease;
	@media (max-width: 959px) {
		display: none;
	};
	&.loaded {
		opacity: 0;
		z-index: -1;
	}
	.preloader {
		position: absolute;
		display: flex;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		max-width: 600px;
		max-height: 600px;
		
		.anim-logo {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			font-family: $mainFont;
			justify-content: center;
			text-transform: uppercase;
			font-size: 62px;
			line-height: 62px;
			font-weight: 700;
			.bottom-side {
				position: relative;
				text-align: center;
				width: 100%;
				max-width: 440px;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 5px;
					background: $textColor;
					transition: transform .35s ease-out 1s;
					transform: scale(0);
					
				}
				span {
					opacity: 0;
					transition: opacity .3s ease 1.5s;
				}
			}
			.left-side, {
				position: relative;
				display: inline-flex;
				span {
					width: 50px;
					opacity: 0;
					transition: transform 1s, opacity 1s ease;
				}
				span:nth-child(1) {
					transform: translateX(160px);
					transform-delay: 0;
				}
				span:nth-child(2) {
					transform: translateX(120px);
					transform-delay: 1s;
				}
				span:nth-child(3) {
					transform: translateX(80px);
					transform-delay: 1.3s;
				}
				span:nth-child(4) {
					transform: translateX(40px);
					transform-delay: 1.6s;
				}

			}
			.right-side, {
				position: relative;
				display: inline-flex;
				span {
					width: 50px;
					opacity: 0;
					transition: transform 1s, opacity 1s ease;
				}
				span:nth-child(1) {
					transform: translateX(0);
					transform-delay: 0;
				}
				span:nth-child(2) {
					transform: translateX(-40px);
					transform-delay: 1s;
				}
				span:nth-child(3) {
					transform: translateX(-80px);
					transform-delay: 1.3s;
				}
				span:nth-child(4) {
					transform: translateX(-120px);
					transform-delay: 1.6s;
				}
				span:nth-child(5) {
					transform: translateX(-160px);
					transform-delay: 1.9s;
				}
			}
			&.loading {
				.left-side {
					span {
						transform: translateX(0);
						opacity: 1;
					}
				}
				.right-side {
					span {
						transform: translateX(0);
						opacity: 1;
					}
				}
				.bottom-side {
					&:before {
						transform: scale(1);
					}
					span {
						opacity: 1;
					}
				}
			}
		}
	}
}


/* .preloader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #ffffff;
	transition: all .3s ease;
	@media (max-width: 959px) {
		display: none;
	};
	.preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		max-width: 600px;
		max-height: 600px;
		svg {
			transform: scale(0.9);
			opacity: 0;
			width: 100%;
			height: 100%;
			transition: transform .7s, opacity .7s ease-in;
			path#logo-name {
				 stroke: #000000;
				 stroke-width: 0;
				 fill: #000000;
				 opacity: 1;
			}
		}
	}
	&.loading {
		svg {
			opacity: 1;
			transform: scale(1);
		}
	}
	&.loaded {
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}
}

@supports (stroke-dasharray: 1800) {
	.preloader-wrapper {
		.preloader {
			svg {
				path#logo-name {
					 stroke-width: 0;
					 fill: transparent;
					 stroke-dasharray: 1800;
					 opacity: 0;
				}
			}
		}
		&.loading {
			svg {
				opacity: 1;
				transform: scale(1);
				path#logo-name {
					fill: rgba(0, 0, 0, 1);
					stroke-width: 0;
					animation: preloader 3s cubic-bezier(0, 0.23, 1, .1) forwards;
				}
			}
		}
	}

	@keyframes preloader {
		0% {
			opacity: 0;
			fill: none;
			stroke-dashoffset: 1800; 
			stroke-width: 1;
		}
		30% {
			opacity: 1;
			fill: none;
			stroke-dashoffset: 1800;
		}
		90% {
			fill: rgba(0, 0, 0, 0);
		}
		100% {
			opacity: 1;
			fill: rgba(0, 0, 0, 1);
			stroke-dashoffset: 0;
			stroke-width: 0; 
		}
	}

} */



* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .3s linear;
  &:hover {
    text-decoration: none;
  }
}

svg {
  transition: fill .3s linear;
}

html.uk-touch {
	body {
		*.uk-invisible {
			display: block !important;
			opacity: 1 !important;
			animation: none !important;
			visibility: visible !important;
		}
		[class*=uk-animation-] {
			@media (min-width: $mob-xs) {
				animation: none;
			};
		}
	}
}

.uk-container {
  margin: 0 auto;
  max-width: $containerWidth;
  box-sizing: border-box;
  &--large {
  	@media (min-width: $desk-w) {
  		max-width: $containerWidth;
  	};
  	@media (min-width: 1400px) {
  		max-width: $containerLargeWidth;
  	};  	
  }
  @media (min-width: $mob-xs) {
  	padding: 0 15px;
  };
  @media (min-width: $tablet-w) {
  	padding: 0 30px;
  };
}

.uk-grid {
	@media (min-width: $mob-xs) {
		margin-left: -15px;
	};
	@media (min-width: $tablet-w) {
		margin-left: -30px;
	};
	&>* {
		@media (min-width: $mob-xs) {
			padding-left: 15px;
		};
		@media (min-width: $tablet-w) {
			padding-left: 30px;
		};
	}
}

.uk-grid-collapse {
	margin-left: 0 !important;
	&>* {
		padding-left: 0 !important;
	}
}

.custom-table {
	width: 100%;
	border: 1px solid $textColor;
	display: flex;
	border-bottom: 1px solid $textColor;
	.row {
		display: flex;
		flex-wrap: wrap;
		border-right: 1px solid $textColor;
		text-overflow: ellipsis;
		font-size: 14px;
		line-height: 16px;
		border-bottom: none;
		align-content: baseline;
		&:last-child {
			border-right: none;
			border-bottom: none;
		}
		.col {
			padding: 10px 5px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-width: 200px;
			width: 100%;
			border-bottom: 1px solid $textColor;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
