/*______ Main Fonts ______*/

@font-face {
	font-family: "SF";
	src: url("../fonts/sf/SFUIText-Regular.woff2"),url("../fonts/sf/SFUIText-Regular.woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "SF";
	src: url("../fonts/sf/SFUIText-Medium.woff2"),url("../fonts/sf/SFUIText-Medium.woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Cormorant";
	src: url("../fonts/cormorant/Cormorant-Italic.woff2"),url("../fonts/cormorant/Cormorant-Italic.woff");
	font-style: normal;
	font-display: swap;
}


/*______ Icomoon ______*/
