<!-- begin left-sidebar -->
<div class="left-sidebar">
	<div class="filter-btn uk-hidden@m">
		<a href="" class="btn btn--lighten btn--filter active js__toggle-filter">
			<span class="filter-icon dark active">
				<span class="line line-1"></span>
				<span class="line line-2"></span>
				<span class="line line-3"></span>
			</span>
			Профиль
		</a>
	</div>
	<div class="left-sidebar__inner">
		<ul class="profile-nav">
			<li>
				<a href="">Мои заказы</a>
			</li>
			<li>
				<a href="">Отложенное</a>
			</li>
			<li class="active">
				<a href="">Мои данные</a>
			</li>
			<li>
				<a href="">Подписки</a>
			</li>
			<li>
				<a href="">Отзывы</a>
			</li>
			<li>
				<a href="">Бонусы</a>
			</li>
			<li>
				<a href="">Выйти</a>
			</li>
		</ul>
	</div>
</div><!-- end left-sidebar -->
