{% block content %}

<div id="modal-fastview" class="modal-fastview default-modal" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close" type="button" uk-close></button>
    
	    <div class="uk-modal-body">
				<!-- begin product-detail -->
				<div class="product-detail">
					<div class="uk-container">
						<div class="uk-grid">
							<div class="uk-width-1-2@m">
								<div class="sticky-block">
									<div class="product-sliders-wrapper">
										
										<!-- begin detail-product-slider -->
										<div class="detail-product-slider">
											<div class="slider" uk-lightbox>
												{% for i in 1..6 %}
												<div class="slide">
													<a href="img/sliders/product-slider-574x751.png">
														<img data-lazy="img/sliders/product-slider-574x751.png" alt="">
													</a>
												</div>
												{% endfor %}
											</div>
											<div class="slider__arrows">
												<div class="slide-prev"><i class="icon-small-arrow-left"></i></div>
												<div class="slide-next"><i class="icon-small-arrow-right"></i></div>
											</div>
										</div><!-- end detail-product-slider -->

										<!-- begin detail-product-preview-slider -->
										<div class="detail-product-preview-slider">
											<div class="slider">
												<div class="slide"><img src="img/sliders/product-preview-slide-1-73x90.png" alt=""></div>
												<div class="slide"><img src="img/sliders/product-preview-slide-2-73x90.png" alt=""></div>
												<div class="slide"><img src="img/sliders/product-preview-slide-3-73x90.png" alt=""></div>
												<div class="slide"><img src="img/sliders/product-preview-slide-4-73x90.png" alt=""></div>
												<div class="slide"><img src="img/sliders/product-preview-slide-5-73x90.png" alt=""></div>
												<div class="slide"><img src="img/sliders/product-preview-slide-1-73x90.png" alt=""></div>
											</div>
										</div><!-- end detail-product-preview-slider -->

										<div class="stocks">
											<div class="discount">-50%</div>
										</div>
										<div class="favorite-icon">
											<a href="" class="icon-star"></a>
										</div>

									</div>
								</div>
							</div>
							<div class="uk-width-1-2@m">
								
								<!-- begin product-description -->
								<div class="product-detail__description">
									<h1 class="title-h1">
										Рюкзак Herschel Little America Backpack
									</h1>
									<div class="product-detail__article">Код товара: <span class="article-val">10501-03071-OS</span></div>
									<div class="product-detail-section">
										<div class="product-detail__text">
											Рюкзак от спорт-бренда выполнен из прочного текстиля. Детали: застежка на магнит, затяжка на шнурок, 1 вместительный отсек, 1 внутренний карман для ноутбука, 1 внешний карман на магнитах и молнии, мягкие лямки и спинка.
										</div>
										<a href="" class="tooltip-link" uk-toggle="#woman-sizes-table-2">Как определить размер?</a>
										<div class="product-detail__sizes">
											<div class="sizes-backpack">
												<table>
													<thead>
														<tr>
															<th>Размер</th>
															<th>Объем</th>
															<th>Материалы</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>16.25"(H) x 11"(W) x 5.25"(D)</td>
															<td>17 Литров</td>
															<td>Хлопок 100%</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										
										<div class="product-detail__colors-list">
											<div class="product-detail__small-title">Цвет</div>
											<div class="colors-list__inner-wrapper">
												<div class="colors-list__inner">
													<div class="color checked"><img data-src="img/media/backpack-color-1-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-2-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-3-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-4-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-5-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-6-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-1-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-2-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-3-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-4-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-5-72x82.png" class="lazy" alt=""></div>
													<div class="color"><img data-src="img/media/backpack-color-6-72x82.png" class="lazy" alt=""></div>
												</div>
											</div>
											<a href="" class="colors-list__btn icon-chevron-right js__toggle-colors-list">Показать еще <span class="colors-count"></span></a>
										</div>
									</div>

									<div class="product-detail-section">

										<div class="product-detail__prices">
											<div class="old-price">12 889 Р.</div>
											<div class="current-price">4 889 Р.</div>
										</div>
										
										<div class="product-detail__controls">
											<div class="btn-wrapper">
												<a href="" class="btn btn--dark icon-basket">Добавить в корзину</a>
												<a href="" class="btn btn--favorite icon-star"></a>
											</div>
										</div>

										<div class="product-detail__buy">
											<a href="" class="buy-one-click">Купить в 1 клик</a>
											<div class="product-detail__counts">Осталось <span class="count-val">2 шт.</span></div>
										</div>

									</div>
									
									<div class="product-detail-section">
										<div class="product-detail__small-title">Характеристики</div>
										<ul class="product-detail__settings-list">
											<li>Флисовый карман под 13" ноутбук</li>
											<li>Наружный карман на молнии</li>
											<li>Магнитные пряжки</li>
											<li>Порт для наушников</li>
											<li>Клипса для ключей</li>
										</ul>
									</div>

									<div class="product-detail-section">
										<div class="product-detail__small-title">Доставка</div>
										<ul class="product-detail__delivery-list">
											<li>
												<i class="icon-courier"></i>
											Доставим курьером завтра за 300 рублей</li>
											<li>
												<i class="icon-location"></i>
												Самовывоз завтра с 11:00 из <a href="">5 пунктов</a></li>
											<li>
												<i class="icon-truck"></i>
											Доставка почти в любой город за 2-3 дня</li>
										</ul>
									</div>
									
									<a href="" class="btn">Больше информации о товаре</a>

								</div><!-- end product-description -->

							</div>
						</div>
					</div>
				</div><!-- end product-detail -->
	    </div>
    </div>
</div>

<div id="modal-added-basket" class="modal-basket default-modal" uk-modal>
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h1">Товар добавлен в корзину</div>
  		<div class="uk-grid">
  			<div class="uk-width-3-5@m">
  				<div class="basket-modal-section">
  					<div class="product-item">
  						<div class="product-item__img">
  							<a href=""><img src="img/media/modal-basket-img-175x219.png" alt=""></a>
  						</div>
  						<div class="product-item__desc">
  							<div class="product-item__title">
  								<a href="">Рюкзак Herschel Little America | Middle-Volume</a>
  							</div>
  							<div class="product-item__article">Код товара: 10501-03071-OS</div>
  							<div class="product-item__price">
  								<div class="old-price">7 980 р.</div>
  								<div class="current-price">3 470 Р.</div>
  							</div>

								<ul class="delivery-list">
									<li>
										<i class="icon-courier"></i>
									Доставим курьером завтра за 300 рублей</li>
									<li>
										<i class="icon-location"></i>
										Самовывоз завтра с 11:00 из <a href="">5 пунктов</a></li>
									<li>
										<i class="icon-truck"></i>
									Доставка почти в любой город за 2-3 дня</li>
								</ul>

  						</div>
  					</div>

						<div class="btn-wrapper">
							<a href="/basket" class="btn btn--modal-btn-black">Оформить заказ</a>
							<a href="" class="btn btn--modal-btn-white">Продолжить покупки</a>
						</div>

  				</div>
  			</div>
  			<div class="uk-width-2-5@m">
  				<div class="basket-modal-section">
  					<div class="products-panel">
  						<div class="products-panel__title">К этому товару замечательно подойдет</div>
  						<div class="products-panel__list">
  							<div class="item">
  								<div class="item__img"><a href=""><img src="img/media/product-panel-img-1-72x81.png" alt=""></a></div>
  								<div class="item__desc">
  									<div class="item__name"><a href="">Ripstop Tote Black</a></div>
  									<div class="item__price">
  										<div class="old-price"></div>
  										<div class="current-price">990 Р.</div>
  									</div>
  								</div>
  							</div>

  							<div class="item">
  								<div class="item__img"><a href=""><img src="img/media/product-panel-img-2-72x81.png" alt=""></a></div>
  								<div class="item__desc">
  									<div class="item__name"><a href="">Tan Synthetic Leather</a></div>
  									<div class="item__price">
  										<div class="old-price"></div>
  										<div class="current-price">2 960 Р.</div>
  									</div>
  								</div>
  							</div>

  							<div class="item">
  								<div class="item__img"><a href=""><img src="img/media/product-panel-img-3-72x81.png" alt=""></a></div>
  								<div class="item__desc">
  									<div class="item__name"><a href="">Heritage Backpack</a></div>
  									<div class="item__price">
  										<div class="old-price"></div>
  										<div class="current-price">1 970 Р.</div>
  									</div>
  								</div>
  							</div>
  						</div>
  						<a href="" class="tooltip-link">Посмотреть все аксессуары</a>
  					</div>
  					
  				</div>
  			</div>
  		</div>
  	</div> 
  </div>
</div>

<div id="modal-auth" class="modal-auth default-modal" uk-modal>
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Вход на сайт</div>
			<form action="" class="default-form auth-form">
				<fieldset>
					<input id="auth-name" type="text" name="auth-name" placeholder="Логин">
				</fieldset>
				<fieldset>
					<input id="auth-password" type="password" name="auth-password" placeholder="Пароль">
				</fieldset>
				<input type="submit" class="btn btn--dark" value="Войти">
			</form>
			<div class="form-politics">
				<a href="" class="uk-float-left" uk-toggle="#forgot-password">Забыли пароль?</a>
				<a href="" class="uk-float-right" uk-toggle="#modal-reg">Зарегистрироваться</a>
			</div>
  	</div> 
  </div>
</div>

<div id="modal-reg" class="modal-reg default-modal" uk-modal>
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Регистрация</div>
			<form action="" class="default-form reg-form">
				<fieldset>
					<input id="reg-login" type="text" name="reg-login" placeholder="Логин (мин. 3 символа)*">
				</fieldset>
				<fieldset>
					<input id="reg-password" type="password" name="reg-password" placeholder="Пароль (мин. 6 символов)*">
				</fieldset>
				<fieldset>
					<input id="reg-password-2" type="password" name="reg-password-2" placeholder="Повторите пароль*">
				</fieldset>
				<fieldset>
					<input id="email" type="email" name="reg-email" placeholder="E-mail*">
				</fieldset>
				<fieldset>
					<input id="reg-first-name" type="text" name="reg-first-name" placeholder="Имя">
				</fieldset>
				<fieldset>
					<input id="reg-last-name" type="text" name="reg-last-name" placeholder="Фамилия">
				</fieldset>
				<fieldset>
					<label for="politics" class="custom-checkbox-wrapper">
						<input id="politics" type="checkbox">
						<span class="custom-checkbox"></span>
						<span class="custom-label">Я принимаю <a href="/politics" class="uk-text-bold">Политику конфиденциальности</a></span>
					</label>
					<label for="mailing" class="custom-checkbox-wrapper">
						<input id="mailing" type="checkbox">
						<span class="custom-checkbox"></span>
						<span class="custom-label">Я хочу получать E-mail рассылку</span>
					</label>
				</fieldset>
				<input type="submit" class="btn btn--dark" value="Зарегистрироваться">
			</form>
  	</div> 
  </div>
</div>

<div id="forgot-password" class="modal-password default-modal" uk-modal>
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Запрос пароля</div>
  		<!-- текст взят с kozha.ru , есди что,можно заменить-->
  		<div class="text">
  			Если вы забыли пароль, введите логин или E-Mail.
				Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.
  		</div>
			<form action="" class="default-form password-form">
				<fieldset>
					<input id="forgot-login" type="text" name="forgot-login" placeholder="Логин">
				</fieldset>
				<fieldset><span class="separate-text">или</span></fieldset>
				<fieldset>
					<input id="forgot-email" type="email" name="forgot-email" placeholder="E-mail*">
				</fieldset>
				<input type="submit" class="btn btn--dark" value="Выслать">
			</form>
  	</div> 
  </div>
</div>

<div id="fast-buy" class="default-modal small-modal" uk-modal>
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Быстрый заказ</div>
  		<div class="uk-modal-title">Название обалденного рюкзака или куртки</div>
			<form action="" class="default-form password-form">
				<fieldset>
					<input id="fast-buy" type="text" name="fast-buy-login" placeholder="Ваше имя">
				</fieldset>
				<fieldset>
					<input id="fast-buy" class="js__input-phone" type="tel" name="fast-buy-tel" placeholder="Телефон">
				</fieldset>
				<input type="submit" class="btn btn--dark" value="Отправить">
			</form>
			<div class="form-politics">
				Нажимая на кнопку Отправить, я даю согласие на обработку <a href="" class="tooltip-link">Персональных данных</a>
			</div>
  	</div> 
  </div>
</div>

<div id="woman-sizes-table-1" class="default-modal big-modal" uk-modal="center: true; esc-close: true; bg-close: true; stack: true;">
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Женщины</div>
  		<div class="uk-modal-title"></div>
				<table class="default-table responsive">
					<tbody>
						<tr>
							<td>Размер</td>
							<td>XXS</td>
							<td>XS</td>
							<td>S</td>
							<td>M</td>
							<td>L</td>
							<td>XL</td>
						</tr>
						<tr>
							<td>Обхват груди, см</td>
							<td data-attr="XXS">71-79</td>
							<td data-attr="XS">78,5-84</td>
							<td data-attr="S">84-89</td>
							<td data-attr="M">89-94</td>
							<td data-attr="L">94-99</td>
							<td data-attr="XL">99-104</td>
						</tr>
						<tr>
							<td>Обхват талии, см</td>
							<td data-attr="XXS">53,5-60</td>
							<td data-attr="XS">61-66</td>
							<td data-attr="S">66-71</td>
							<td data-attr="M">71-76</td>
							<td data-attr="L">76-81,5</td>
							<td data-attr="XL">81,5-86,5</td>
						</tr>
						<tr>
							<td>Обхват бедер, см</td>
							<td data-attr="XXS">79-86,5</td>
							<td data-attr="XS">86,5-91,5</td>
							<td data-attr="S">91,5-96,5</td>
							<td data-attr="M">96,5-101,5</td>
							<td data-attr="L">101,5-106,5</td>
							<td data-attr="XL">106,5-112</td>
						</tr>
					</tbody>
				</table>
  	</div> 
  </div>
</div>

<div id="woman-sizes-table-2" class="default-modal big-modal" uk-modal="center: true; esc-close: true; bg-close: true; stack: true;">
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Женщины</div>
  		<div class="uk-modal-title"></div>
				<table class="default-table responsive">
					<tbody>
						<tr>
							<td>Размер</td>
							<td>XXS</td>
							<td>XS</td>
							<td>S</td>
							<td>M</td>
							<td>L</td>
							<td>XL</td>
						</tr>
						<tr>
							<td>Обхват талии, см</td>
							<td data-attr="XXS">53,5-60</td>
							<td data-attr="XS">61-66</td>
							<td data-attr="S">66-71</td>
							<td data-attr="M">71-76</td>
							<td data-attr="L">76-81,5</td>
							<td data-attr="XL">81,5-86,5</td>
						</tr>
						<tr>
							<td>Обхват бедер, см</td>
							<td data-attr="XXS">79-86,5</td>
							<td data-attr="XS">86,5-91,5</td>
							<td data-attr="S">91,5-96,5</td>
							<td data-attr="M">96,5-101,5</td>
							<td data-attr="L">101,5-106,5</td>
							<td data-attr="XL">106,5-112</td>
						</tr>
						<tr>
							<td>Длина по внутреннему шву, см</td>
							<td data-attr="XXS">77,5</td>
							<td data-attr="XS">77,5</td>
							<td data-attr="S">79</td>
							<td data-attr="M">79</td>
							<td data-attr="L">80</td>
							<td data-attr="XL">80</td>
						</tr>
					</tbody>
				</table>
  	</div> 
  </div>
</div>

<div id="man-sizes-table-1" class="default-modal big-modal" uk-modal="center: true; esc-close: true; bg-close: true; stack: true;">
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Мужчины и унисекс</div>
  		<div class="uk-modal-title"></div>
				<table class="default-table responsive">
					<tbody>
						<tr>
							<td>Размер</td>
							<td>XS</td>
							<td>S</td>
							<td>M</td>
							<td>L</td>
							<td>XL</td>
							<td>XXL</td>
						</tr>
						<tr>
							<td>Обхват груди, см</td>
							<td data-attr="XS">86,5-94</td>
							<td data-attr="S">94-99</td>
							<td data-attr="M">99-104</td>
							<td data-attr="L">104-112</td>
							<td data-attr="XL">112-117</td>
							<td data-attr="XXL">117-123</td>
						</tr>
						<tr>
							<td>Обхват талии, см</td>
							<td data-attr="XS">71-79</td>
							<td data-attr="S">79-84</td>
							<td data-attr="M">84-89</td>
							<td data-attr="L">89-96,5</td>
							<td data-attr="XL">96,5-101,5</td>
							<td data-attr="XXL">101,5-106,5</td>
						</tr>
						<tr>
							<td>Обхват бедер, см</td>
							<td data-attr="XS">84-91,5</td>
							<td data-attr="S">91,5-96,5</td>
							<td data-attr="M">96,5-101,5</td>
							<td data-attr="L">101,5-109</td>
							<td data-attr="XL">109-114,5</td>
							<td data-attr="XXL">114,5-119,5</td>
						</tr>
					</tbody>
				</table>
  	</div> 
  </div>
</div>

<div id="man-sizes-table-2" class="default-modal big-modal" uk-modal="center: true; esc-close: true; bg-close: true; stack: true;">
	<div class="uk-modal-dialog">
  	<button class="uk-modal-close" type="button" uk-close></button>
  	<div class="uk-modal-body">
  		<div class="title-h3">Мужчины и унисекс</div>
  		<div class="uk-modal-title"></div>
				<table class="default-table responsive">
					<tbody>
						<tr>
							<td>Размер</td>
							<td>XS</td>
							<td>S</td>
							<td>M</td>
							<td>L</td>
							<td>XL</td>
							<td>XXL</td>
						</tr>
						<tr>
							<td>Обхват талии, см</td>
							<td data-attr="XS">71-79</td>
							<td data-attr="S">79-84</td>
							<td data-attr="M">84-89</td>
							<td data-attr="L">89-96,5</td>
							<td data-attr="XL">96,5-101,5</td>
							<td data-attr="XXL">101,5-106,5</td>
						</tr>
						<tr>
							<td>Обхват бедер, см</td>
							<td data-attr="XS">84-91,5</td>
							<td data-attr="S">91,5-96,5</td>
							<td data-attr="M">96,5-101,5</td>
							<td data-attr="L">101,5-109</td>
							<td data-attr="XL">109-114,5</td>
							<td data-attr="XXL">114,5-119,5</td>
						</tr>
						<tr>
							<td>Длина по внутреннему шву, см</td>
							<td data-attr="XS">80</td>
							<td data-attr="S">80</td>
							<td data-attr="M">81,5</td>
							<td data-attr="L">81,5</td>
							<td data-attr="XL">82,5</td>
							<td data-attr="XXL">82,5</td>
						</tr>
					</tbody>
				</table>
  	</div> 
  </div>
</div>

{% endblock %}
