<!-- begin youtube -->

<div class="youtube-wrapper">
	<div class="uk-container">
		<div class="youtube" data-embed="{{id}}">
			<div class="play-btn icon-youtube"></div>
		</div>
	</div>
</div>
<!-- end youtube -->
