/*______ FORMS ______*/

.default-form {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"], {
		padding: 17px;
		height: 48px;
		font-size: 14px;
		letter-spacing: .1px;
		border: 1px solid $bgUIGray;
	}
	label.error {
		display: block;
		font-size: 12px;
	}
	textarea {
		font-family: $mainFont;
		padding: 17px;
		font-size: 14px;
		letter-spacing: .1px;
		width: 100%;
		min-height: 150px;
		resize: vertical;
	}
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		margin-bottom: 24px;
		line-height: 14px;
	}
}

label.custom-checkbox-wrapper {
	position: relative;
	margin-bottom: 12px;
	display: block;
	cursor: pointer;
	@include clearfix;
	input[type="checkbox"] {
		opacity: 0;
		width: 1px;
		height: 1px;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		visibility: hidden;
		&:checked {
			~.custom-checkbox {
				background: $bgUIBlack;
				&:after {
					background: url('../img/ui/check.png') center no-repeat;
				}
			}
			~.custom-label {
				color: $textHColor;
			}
		}
	}
	.custom-checkbox {
		position: relative;
		margin-right: 11px;
		float: left;
		display: block;
		width: 14px;
		height: 14px;
		border: 2px solid $bgUIBlack;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 9px;
			height: 6px;
			background-size: 9px 6px;
			transform: translate(-50%, -50%);
		}
	}
	.custom-label {
		display: block;
		overflow: hidden;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: .09px;
		color: $textColor;
		transition: color .3s ease;
	}
}

label.color-checkbox {
	position: relative;
	margin-right: 12px;
	margin-bottom: 17px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	@include clearfix;
	input[type="checkbox"] {
		opacity: 0;
		width: 1px;
		height: 1px;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		visibility: hidden;
		&:checked {
			~.custom-checkbox {
				&:after {
					background-image: url('../img/ui/check.png');
				}
				&:before {
					border-color: #d5d5d5;
				}
			}
		}
	}
	.custom-checkbox {
		position: relative;
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		z-index: 49;
		background-size: contain;
		background-position: center 0;
		background-repeat: no-repeat;
		&:before {
			content: '';
			position: absolute;
			top: -5px;
			left: -5px;
			display: block;
			width: 32px;
			height: 32px;
			background: transparent;
			border-radius: 50%;
			border: 1px solid transparent;
			z-index: 30;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 9px;
			height: 6px;
			background-size: 9px 6px;
			transform: translate(-50%, -50%);
			z-index: 50;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.horizontal-form  {
	display: flex;
	justify-content: space-between;
	@media (min-width: $mob-xs) {
		flex-wrap: wrap;
		&>*{
			margin-right: 0;
			margin-bottom: 10px;
			@media (min-width: $tablet-w) {
				margin-bottom: 0;
			};
		}
	};
	@media (min-width: $tablet-w) {
		flex-wrap: nowrap;
	};
	input {
		margin-right: 10px;
		max-width: 194px;
		@media (min-width: $mob-xs) {
			max-width: 100%;
			width: 100%;
		};
		@media (min-width: $tablet-w) {
			max-width: 194px;
		};
	}
}

/*______ Review form ______*/

.review-form-wrapper {
	display: none;
	border-top: 1px solid $bgUIGray;
	margin-top: 36px;
	padding-top: 34px;
}

.review-form {
	&__title {
		margin-bottom: 18px;
		font-size: 18px;
		line-height: 20px;
		letter-spacing: .1px;
	}
	&__label {
		margin-right: 20px;
		font-size: 14px;
		line-height: 15px;
		letter-spacing: .1px;
	}
	input[type="text"] {
		width: 100%;
	}
	.rating {
		max-width: 135px;
		label {
			&:before {
			font-size: 24px;
			line-height: 24px;
			}
		}
	}
	.btn {
		padding: 20px 34px;
		width: 100%;
		max-width: 380px;
	}
	.rating-wrapper {
		display: flex;
		align-items: center;
		@media (min-width: $mob-xs) {
			margin-top: 24px;
			padding: 11px 17px;
			border: 1px solid $bgUIGray;
		};
		@media (min-width: $mob-s) {
			height: 48px;
			border: none;
			margin-top: 0;
			padding: 0;
		};
	}
	label.error {
		margin-top: 5px;
	}
}

/*______ End Review form ______*/


/*______ Search Form ______*/

.search-desktop {
	position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background: #ffffff;
  z-index: 995;
}

.search-result-wrapper {
	padding: 48px 0;
	display: none;
	&.visible {
		display: block;
	}
}

.search-wrapper {
	border-bottom: 1px solid $bgUIGray;
	.uk-container {
		position: relative;
		.close-form {
			font-size: 24px;
			transform: translateY(-50%);
			@media (min-width: $mob-xs) {
				right: 0;
			};
			@media (min-width: 1300px) {
				right: -25px;
			}
			@media (min-width: 1450px) {
				right: -50px;
			}
			&:before {
				color: $textSColor;
			}
			&:hover {
				&:before {
					color: $textSHColor;
				}
			}
		}
	}
}

.search-form {
	padding: 20px 0;
	display: flex;
	align-items: center;
	input[type="text"] {
		padding: 0 20px;
		width: calc(100% - 174px);
		height: 48px;
		font-size: 16px;
		color: $textColor;
		border: none;
		outline: none;
	}

	::placeholder {
		color: $textColor;
	}

}

.search-result {
	margin-bottom: 35px;
	&__title {
		margin-bottom: 30px;
		color: $textColor;
		font-size: 18px;
		letter-spacing: .1px;
	}
	.item {
		&__img {
			margin-bottom: 12px;
			a {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 200px;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: block;
					background-color: rgba(131, 141, 155, 0.07);
				}
			}
		}
		&__name {
			margin-bottom: 8px;
			a {
				color: $textColor;
				font-size: 14px;
				letter-spacing: .1px;
				&:hover {
					color: $textHColor;
				}
			}
		}
		&__price {
			.price__old {
				font-size: 14px;
				font-weight: 500;
				color: $textColor;
			}
		}
	}
}

/*______ End Search Form ______*/


/*______ Mobile Form ______*/

.mobile-form {
	margin: 15px 0 15px;
	display: none;
	form {
		position: relative;
		input[type="text"] {
			padding: 0 40px 0 17px;
			width: 100%;
			height: 35px;
			line-height: 35px;
		}
		.mobile-search-btn {
			position: absolute;
			top: 0;
			right: 0;
			width: 35px;
			height: 35px;
			line-height: 35px;
			border: none;
			background: none;
			text-align: center;
			&:before {
				font-size: 16px;
			}
		}
	}
}

/*______ End Mobile Form ______*/

/*______ Promo Form ______*/

.promo-form {
	font-size: 0;
	input[type="email"] {
		border-right: none;
	}
}

/*______ End Promo Form ______*/



/*______ Filter form ______*/

.filter-form {
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		margin-bottom: 5px;
	}
	.btn-wrapper {
		margin-top: 40px;
		.btn {
			width: 100%;
			max-width: 100%;
			margin-bottom: 10px;
		}
	}
}

.group-title {
	margin-bottom: 30px;
	padding: 21px 0;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: .1px;
	border-bottom: 1px solid $textHColor;
}

.group-list {
	&.color-list {
		margin: 0 -12px;
		padding-left: 12px;
	}
}

/*______ End Filter form ______*/


/*______ END FORMS ______*/
