{% extends "layouts/default.twig" %}
{% set title="Мужчинам" %}
{% set bread = ["Главная", "Каталог", "Мужчинам"] %}
{% set main = false %}
{% block content %}

<main class="main">
	
	<!-- begin catalog-section -->
	<section class="catalog-section">
		<div class="uk-container">
			<h1 class="title-h1">Мужчинам</h1>

			<!-- begin subcategories -->
			<div class="subcategories"  uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid">
					<div class="uk-width-1-2@s uk-width-3-5@m">
						<div class="subcategory push-left">
							<div class="img-wrapper">
								<div class="subcategory__img"><img data-src="img/media/subcategory-img-1-758x423.png" alt="" uk-img></div>
								<a href="" class="round-link icon-small-arrow-right"></a>
							</div>
							<div class="subcategory__title"><a href="">Скидка 50%</a></div>
							<div class="subcategory__subtitle">На кошельки и сумочки</div>
						</div>
					</div>
					<div class="uk-width-1-2@s uk-width-2-5@m">
						<div class="subcategory">
							<div class="img-wrapper">
								<div class="subcategory__img"><img data-src="img/media/subcategory-img-2-483x432.png" alt="" uk-img></div>
								<a href="" class="round-link icon-small-arrow-right"></a>
							</div>
							<div class="subcategory__title"><a href="">Рюкзаки</a></div>
							<div class="subcategory__subtitle">Удобные и повседневные</div>
						</div>
					</div>
				</div>
			</div><!-- end subcategories -->

			<!-- begin subcategories-list -->
			<div class="subcategories-list"  uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid">
					<div class="uk-width-1-2@s uk-width-1-3@m">
						<div class="subcategories-item">
							<div class="subcategories-item__img">
								<a href=""><img data-src="img/media/subcategories-item-img-1-380x432.png" alt="" class="lazy"></a>
							</div>
							<div class="subcategories-item__title"><a href="">Сумки дорожные</a></div>
						</div>
					</div>

					<div class="uk-width-1-2@s uk-width-1-3@m">
						<div class="subcategories-item">
							<div class="subcategories-item__img">
								<a href=""><img data-src="img/media/subcategories-item-img-2-380x432.png" alt="" class="lazy"></a>
							</div>
							<div class="subcategories-item__title"><a href="">Кошельки</a></div>
						</div>
					</div>

					<div class="uk-width-1-2@s uk-width-1-3@m">
						<div class="subcategories-item">
							<div class="subcategories-item__img">
								<a href=""><img data-src="img/media/subcategories-item-img-3-380x432.png" alt="" class="lazy"></a>
							</div>
							<div class="subcategories-item__title"><a href="">Сумки на пояс</a></div>
						</div>
					</div>
				</div>
			</div><!-- end subcategories-list -->

			<!-- begin subcategories -->
			<div class="subcategories"  uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid">
					<div class="uk-width-1-2@s uk-width-2-5@m">
						<div class="subcategory">
							<div class="img-wrapper">
								<div class="subcategory__img">
									<img data-src="img/media/subcategory-img-3-483x432.png" alt="" uk-img></div>
								<a href="" class="round-link icon-small-arrow-right"></a>
							</div>
							<div class="subcategory__title"><a href="">Одежда</a></div>
							<div class="subcategory__subtitle">Куртки, штаны, свитеры и многое другое</div>
						</div>
					</div>
					<div class="uk-width-1-2@s uk-width-3-5@m">
						<div class="subcategory push-right">
							<div class="img-wrapper">
								<div class="subcategory__img">
									<img data-src="img/media/subcategory-img-4-758x423.png" alt="" uk-img>
								</div>
								<a href="" class="round-link icon-small-arrow-right"></a>
							</div>
							<div class="subcategory__title"><a href="">Скидка 30%</a></div>
							<div class="subcategory__subtitle">На одежду, шапки и аксессуары</div>
						</div>
					</div>
				</div>
			</div><!-- end subcategories -->

			<!-- begin subcategories-list -->
			<div class="subcategories-list"  uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid">
					<div class="uk-width-1-2@s uk-width-1-3@m">
						<div class="subcategories-item">
							<div class="subcategories-item__img">
								<a href=""><img data-src="img/media/subcategories-item-img-4-380x432.png" alt="" class="lazy"></a>
							</div>
							<div class="subcategories-item__title"><a href="">Чемоданы</a></div>
						</div>
					</div>

					<div class="uk-width-1-2@s uk-width-1-3@m">
						<div class="subcategories-item">
							<div class="subcategories-item__img">
								<a href=""><img data-src="img/media/subcategories-item-img-5-380x432.png" alt="" class="lazy"></a>
							</div>
							<div class="subcategories-item__title"><a href="">Сумки городские</a></div>
						</div>
					</div>

					<div class="uk-width-1-2@s uk-width-1-3@m">
						<div class="subcategories-item">
							<div class="subcategories-item__img">
								<a href=""><img data-src="img/media/subcategories-item-img-6-380x432.png" alt="" class="lazy"></a>
							</div>
							<div class="subcategories-item__title"><a href="">Сумки спортивные</a></div>
						</div>
					</div>
				</div>
			</div><!-- end subcategories-list -->

			<!-- begin products-list -->
			<section class="products-list"  uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-container">
					<div class="separate-title"><span>Популярные товары</span></div>
					<div class="products-list__inner" uk-scrollspy="target: .card; cls: slide-up-content; delay: 0; repeat: false">
						<div class="uk-grid">
							{% for item in 1..6 %}
							<div class="uk-width-1-2@s uk-width-1-3@m">
								<div class="card">
									<div class="card-wrapper">
										<div class="card__inner">
											<div class="card__img">
												<a href=""><img data-src="img/media/product-img-{{item}}-380x424.png" alt="" class="lazy"></a>
											</div>
											<div class="stocks">
												<div class="new">new</div>
												<div class="discount">-50%</div>
											</div>
											<div class="favorite-icon">
												<a href="" class="icon-star"></a>
											</div>
											<div class="card__product-name"><a href="">Рюкзак Settlement Backpack Settlement Backpack</a></div>
											<div class="card__price">
												<div class="old-price">12 889 Р.</div>
												<div class="current-price">6 890 Р.</div>
											</div>
											<a href="" class="card__toggle-btn icon-chevron-right js__show-preview-slider">Посмотреть все цвета</a>
											<div class="card__bottom">
												<div class="preview-slider">
													<div class="slider">
														{% for slide in 1..5 %}
														    <div class="slide">
														    	<img data-lazy="img/sliders/card-preview-img-{{slide}}-72x82.png" alt="">
														    </div>
														{% endfor %}
													</div>
												</div>
												<a href="#modal-fastview" class="btn btn--medium btn--dark" uk-toggle>Быстрый просмотр</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="separate-title"><a href="" class="btn btn--big">Перейти в каталог</a></div>
				</div>
			</section><!-- end products-list -->

			<!-- begin about-company-short -->
			<section class="about-company-short" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-container">
					<div class="company-short">
						<div class="uk-grid">
							<div class="uk-width-1-2@s">
								<div class="company-short__title">
									Рюкзаки с дизайном вне времени
								</div>
								<figure>
									<img data-src="img/media/about-company.png" alt="" class="lazy">
									<figcaption>Канадский город Хершэл в наше время</figcaption>
								</figure>
							</div>
							<div class="uk-width-1-2@s">
								<div class="company-short__desc-wrapper">
									<div class="company-short__desc">
										Благодаря своим вместительным и универсальным формам и прочным материалам, рюкзаки и сумки Herschel Supply Co. подойдут и студентам, и офисным сотрудникам и даже тем, кто не никогда не сидит на одном месте. А огромное разнообразие принтов и фактур поможет подчеркнуть свою индивидуальность. Идеи новых рисунков и палитр для коллекций постоянно приходят в голову Джейми и Линдону в частых путешествиях и не только. Главное для них — не следовать слепо трендам, меняющимся со скоростью света. Все аксессуары Herschel Supply Co. не теряют своей актуальности с приходом нового сезона и смены коллекций. Не отрицают дизайнеры и своей любви к экспериментам с материалами и формами, которые находят воплощение в линейке Bad Hills. Нередко бренд сотрудничает с другими интересными марками стрит-вира, дизайнерами и художниками, чтобы воплотить в жизнь совместные идеи.
									</div>
									<a href="" class="show-all icon-small-arrow-right">Узнать больше</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!-- end about-company-short -->

		</div>
	</section><!-- end catalog-section -->

</main>

{% endblock content %}
