{% extends "layouts/default.twig" %}
{% set title="Детальная" %}
{% set bread = ["Главная", "Рюкзаки и сумки", "Рюкзаки"] %}
{% set main = false %}
{% block content %}
	<main class="main">
		
		<!-- begin product-detail -->
		<div class="product-detail">
			<div class="uk-container">
				<div class="uk-grid">
					<div class="uk-width-1-2@m">
						<div class="sticky-block">
							<div class="product-sliders-wrapper" uk-sticky="media: @m; bottom: .sticky-block">
								
								<!-- begin detail-product-slider -->
								<div class="detail-product-slider">
									<div class="slider" uk-lightbox>
										{% for i in 1..6 %}
										<div class="slide">
											<a href="img/sliders/product-slider-574x751.png">
												<img data-lazy="img/sliders/product-slider-clothes-574x751.png" alt="">
											</a>
										</div>
										{% endfor %}
									</div>
									<div class="slider__arrows">
										<div class="slide-prev"><i class="icon-small-arrow-left"></i></div>
										<div class="slide-next"><i class="icon-small-arrow-right"></i></div>
									</div>
								</div><!-- end detail-product-slider -->

								<!-- begin detail-product-preview-slider -->
								<div class="detail-product-preview-slider">
									<div class="slider">
										<div class="slide"><img data-lazy="img/sliders/product-preview-clothes-1-73-90.png" alt=""></div>
										<div class="slide"><img data-lazy="img/sliders/product-preview-clothes-2-73-90.png" alt=""></div>
										<div class="slide"><img data-lazy="img/sliders/product-preview-clothes-3-73-90.png" alt=""></div>
									</div>
								</div><!-- end detail-product-preview-slider -->

								<div class="stocks">
									<div class="discount">-50%</div>
								</div>
								<div class="favorite-icon">
									<a href="" class="icon-star"></a>
								</div>

							</div>
						</div>
					</div>
					<div class="uk-width-1-2@m">
						
						<!-- begin product-description -->
						<div class="product-detail__description">
							<h1 class="title-h1">
								Куртка городская Field Jacket
							</h1>
							<div class="product-detail__article">Код товара: <span class="article-val">10501-03071-OS</span></div>
							<div class="product-detail-section">
								<div class="product-detail__text">
									Рюкзак от спорт-бренда выполнен из прочного текстиля.
								</div>
								
								<div class="product-detail__materials">
									<div class="product-detail__label">Материал</div>
									<div class="materials">65% Nylon  /  35% Polyeste</div>
								</div>

								<div class="product-detail__sizes">
									<div class="sizes-clothes">
										<div class="product-detail__label">Размер</div>
										<ul class="sizes-clothes-list">
											<li><a href="#" class="disabled">xs</a></li>
											<li><a href="#">s</a></li>
											<li><a href="#">m</a></li>
											<li><a href="#" class="checked">l</a></li>
											<li><a href="#">xl</a></li>
										</ul>
									</div>
									<a href="" class="tooltip-link">Как определить размер?</a>
								</div>
								
								<div class="product-detail__colors-list">
									<div class="product-detail__small-title">Цвет</div>
									<div class="colors-list__inner-wrapper">
										<div class="colors-list__inner">
											<div class="color checked"><img data-src="img/media/clothes-color-1-72x82.png" class="lazy" alt=""></div>
											<div class="color"><img data-src="img/media/clothes-color-2-72x82.png" class="lazy" alt=""></div>
											<div class="color"><img data-src="img/media/clothes-color-3-72x82.png" class="lazy" alt=""></div>
											<div class="color"><img data-src="img/media/clothes-color-4-72x82.png" class="lazy" alt=""></div>
										</div>
									</div>
									<a href="" class="colors-list__btn icon-chevron-right js__toggle-colors-list">Показать еще <span class="colors-count"></span></a>
								</div>
							</div>

							<div class="product-detail-section">

								<div class="product-detail__prices">
									<div class="old-price">12 889 Р.</div>
									<div class="current-price">4 889 Р.</div>
								</div>
								
								<div class="product-detail__controls">
									<div class="btn-wrapper">
										<a href="" class="btn btn--dark icon-basket">Добавить в корзину</a>
										<a href="" class="btn btn--favorite icon-star"></a>
									</div>
								</div>

								<div class="product-detail__buy">
									<a href="" class="buy-one-click">Купить в 1 клик</a>
									<div class="product-detail__counts">Осталось <span class="count-val">2 шт.</span></div>
								</div>

							</div>
							
							<div class="product-detail-section">
								<div class="product-detail__small-title">Характеристики</div>
								<ul class="product-detail__settings-list">
									<li>Флисовый карман под 13" ноутбук</li>
									<li>Наружный карман на молнии</li>
									<li>Магнитные пряжки</li>
									<li>Порт для наушников</li>
									<li>Клипса для ключей</li>
								</ul>
							</div>

							<div class="product-detail-section">
								<div class="product-detail__small-title">Доставка</div>
								<ul class="product-detail__delivery-list">
									<li>
										<i class="icon-courier"></i>
									Доставим курьером завтра за 300 рублей</li>
									<li>
										<i class="icon-location"></i>
										Самовывоз завтра с 11:00 из <a href="">5 пунктов</a></li>
									<li>
										<i class="icon-truck"></i>
									Доставка почти в любой город за 2-3 дня</li>
								</ul>
							</div>
							
						<!-- begin top-review -->
						<div class="top-review">
							<div class="review">
								<div class="review__top">
									<div class="review__user">
										<div class="review__name">Николай</div>
										<div class="review__date">Две недели назад</div>
									</div>
									<div class="review__rating">
										<div class="review__label">Оценка</div>
										<div class="rating uk-clearfix">
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="" checked>
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
										</div>
									</div>
									<div class="review__target">
										<div class="review__label">К цвету</div>
										<div class="review__color"><span class="color-val"></span></div>
										<div class="review__color-text">Серый / Raven Crosshatch</div>
									</div>
								</div>

								<div class="review__text">
									В последнее время практически каждый ходит с портфелем, рюкзаком, с сумкой. Это стало неотъемлемой частью нашей жизни, без рюкзака как без рук. Кому-то он нужен для учебы, кому-то для работы, кому для путешествий. Следователь но и выбора полно, что же...
								</div>
								<a href="" class="review__read-more">Читать дальше</a>
							</div>
						</div><!-- end top-review -->

						</div><!-- end product-description -->

					</div>
				</div>
			</div>
		</div><!-- end product-detail -->

		<!-- begin product-additional-desc -->
		<div class="product-additional-desc">
			<div class="uk-container">
				<div class="separate-title"><span>Детали важны</span></div>
			</div>

			<!-- begin category-list -->
			<section class="category-list">
				<div class="uk-container">
					<div class="category-list__inner" uk-scrollspy="target: .custom-row>.item; cls: slide-up-content; delay: 0; repeat: false">
						<div class="custom-row uk-flex">

							<div class="item item-6-10">
								<div class="img-wrapper">
									<div class="item__img">
										<img data-src="img/media/category-clothes-img-1-585x432.png" class="lazy" alt="">
									</div>
									<a href="" class="item__link icon-small-arrow-right"></a>
								</div>

								<div class="item__desc">
									<div class="item__title"><a href="">Металлическая молния c ветрозащитной планкой</a></div>
									<div class="item__subtitle">Дорожные сумки, рюкзаки и кошельки</div>
								</div>
							</div>

							<div class="item item-4-10">
								<div class="item__desc">
									<div class="item__title"><a href="">Тональная классическая тканая этикетка</a></div>
									<div class="item__subtitle">Специальные рюкзаки для школы и аксессуары</div>
								</div>

								<div class="img-wrapper">
									<div class="item__img">
										<img data-src="img/media/category-clothes-img-1-483x432.png" class="lazy" alt="">
									</div>
									<a href="" class="item__link icon-small-arrow-right"></a>
								</div>
							</div>
						</div>

						<div class="custom-row uk-flex uk-flex-row-reverse">

							<div class="item item-6-10">
								<div class="img-wrapper">
									<div class="item__img">
										<img data-src="img/media/category-clothes-img-2-585x432.png" class="lazy" alt="">
									</div>
									<a href="" class="item__link icon-small-arrow-right"></a>
								</div>

								<div class="item__desc">
									<div class="item__title"><a href="">Внутренняя кокетка с классической тканым логотипом</a></div>
									<div class="item__subtitle">Модные сумки, чемоданы и аксессуары</div>
								</div>
							</div>

							<div class="item item-4-10">
								<div class="item__desc">
									<div class="item__title"><a href="">Внутренний карман для документов</a></div>
									<div class="item__subtitle">Cумки и чемоданы</div>
								</div>

								<div class="img-wrapper">
									<div class="item__img">
										<img data-src="img/media/category-clothes-img-2-483x432.png" class="lazy" alt="">
									</div>
									<a href="" class="item__link icon-small-arrow-right"></a>
								</div>
							</div>
						</div>

						<div class="custom-row uk-flex">

							<div class="item item-6-10">
								<div class="img-wrapper">
									<div class="item__img">
										<img data-src="img/media/category-clothes-img-3-585x432.png" class="lazy" alt="">
									</div>
									<a href="" class="item__link icon-small-arrow-right"></a>
								</div>

								<div class="item__desc">
									<div class="item__title"><a href=""></a></div>
									<div class="item__subtitle">Дорожные сумки, рюкзаки и кошельки</div>
								</div>
							</div>

							<div class="item item-text item-4-10">
								<div class="item__desc">
									<div class="item__title"><a href="">Коллекция Classics</a></div>
									<div class="item__subtitle"></div>
									<div class="item__text">
										Коллекция Classics, отмечающая культовые стили верхней одежды, предлагает изысканные легкие куртки для мужчин и женщин. Построенный из удобной ткани, обработанной DWR, каждый вневременной силуэт легко и непринужденно сочетается с функциональным дизайном.
									</div>
								</div>

								<div class="img-wrapper">
									<div class="item__img">
										<img data-src="img/media/category-clothes-img-3-483x432.png" class="lazy" alt="">
									</div>
									<a href="" class="item__link icon-small-arrow-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!-- end category-list -->

			<div class="uk-container">
				<div class="separate-title"><span>Отзывы</span></div>
			</div>

			<!-- begin reviews-list -->
			<div class="reviews-list">
				<div class="uk-container">
					<div class="reviews-list-wrapper">
						<div class="reviews-list__inner">
							<div class="review">
								<div class="review__top">
									<div class="review__user">
										<div class="review__name">Николай</div>
										<div class="review__date">Две недели назад</div>
									</div>
									<div class="review__rating">
										<div class="review__label">Оценка</div>
										<div class="rating uk-clearfix">
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="" checked>
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
										</div>
									</div>
									<div class="review__target">
										<div class="review__label">К цвету</div>
										<div class="review__color"><span class="color-val" style="background: #acacac;"></span></div>
										<div class="review__color-text">Серый / Raven Crosshatch</div>
									</div>
								</div>
						
								<div class="review__text">
									В последнее время практически каждый ходит с портфелем, рюкзаком, с сумкой. Это стало неотъемлемой частью нашей жизни, без рюкзака как без рук. Кому-то он нужен для учебы, кому-то для работы, кому для путешествий. Следователь но и выбора полно, что же...
								</div>
								<a href="" class="review__read-more">Читать дальше</a>
							</div>
							<div class="review">
								<div class="review__top">
									<div class="review__user">
										<div class="review__name">Ольга</div>
										<div class="review__date">Месяц назад</div>
									</div>
									<div class="review__rating">
										<div class="review__label">Оценка</div>
										<div class="rating uk-clearfix">
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="" checked>
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
											<input id="" type="radio" name="" value="">
											<label for="" class="icon-star"></label>
										</div>
									</div>
									<div class="review__target">
										<div class="review__label">К цвету</div>
										<div class="review__color"><span class="color-val" style="background: #acacac;"></span></div>
										<div class="review__color-text">Серый / Raven Crosshatch</div>
									</div>
								</div>
						
								<div class="review__text">
									В последнее время практически каждый ходит с портфелем, рюкзаком, с сумкой. Это стало неотъемлемой частью нашей жизни, без рюкзака как без рук. Кому-то он нужен для учебы, кому-то для работы, кому для путешествий. Следователь но и выбора полно, что же...
								</div>
								<a href="" class="review__read-more">Читать дальше</a>
							</div>
						</div>
						<a href="" class="btn reviews-btn-add js__toggle-review-form">Добавить отзыв</a>

						<div class="review-form-wrapper">
							<div class="review-form__title">Добавить отзыв</div>
							<form action="" class="review-form default-form">
								<fieldset>
									<div class="uk-grid">
										<div class="uk-width-1-2@s">
											<input type="text" name="name" placeholder="Ваше имя" required>
										</div>
										<div class="uk-width-1-2@s">
											<div class="rating-wrapper">
												<div class="review-form__label">Оценка</div>
												<div class="rating uk-clearfix">
													<input id="" type="radio" name="" value="">
													<label for="" class="icon-star"></label>
													<input id="" type="radio" name="" value="">
													<label for="" class="icon-star"></label>
													<input id="" type="radio" name="" value="">
													<label for="" class="icon-star"></label>
													<input id="" type="radio" name="" value="">
													<label for="" class="icon-star"></label>
													<input id="" type="radio" name="" value="">
													<label for="" class="icon-star"></label>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<textarea name="message" id="" placeholder="Ваш отзыв"></textarea>
								</fieldset>
								<button type="submit" class="btn btn--big btn--dark">Оставить отзыв</button>
							</form>
						</div>

					</div>
				</div>
			</div><!-- end reviews-list -->

		<!-- begin products-list -->
		<section class="products-list">
			<div class="uk-container">
				<div class="separate-title"><span>Вам могут понравиться другие модели</span></div>
				<div class="products-list__inner" uk-scrollspy="target: .card; cls: slide-up-content; delay: 0; repeat: false">
					<div class="uk-grid">
						{% for item in 1..3 %}
						<div class="uk-width-1-2@s uk-width-1-3@m">
							<div class="card">
								<div class="card-wrapper">
									<div class="card__inner">
										<div class="card__img">
											<a href=""><img data-src="img/media/product-clothes-img-{{item}}-380x424.png" alt="" class="lazy"></a>
										</div>
										<div class="stocks">
											<div class="new">new</div>
											<div class="discount">-50%</div>
										</div>
										<div class="favorite-icon">
											<a href="" class="icon-star"></a>
										</div>
										<div class="card__product-name"><a href="">Рюкзак Settlement Backpack Settlement Backpack</a></div>
										<div class="card__price">
											<div class="old-price">12 889 Р.</div>
											<div class="current-price">6 890 Р.</div>
										</div>
										<a href="" class="card__toggle-btn icon-chevron-right js__show-preview-slider">Посмотреть все цвета</a>
										<div class="card__bottom">
											<div class="preview-slider">
												<div class="slider">
													{% for slide in 1..5 %}
													    <div class="slide">
													    	<img data-lazy="img/sliders/card-preview-img-{{slide}}-72x82.png" alt="">
													    </div>
													{% endfor %}
												</div>
											</div>
											<a href="" class="btn btn--medium btn--dark" uk-toggle="target: #modal-fastview">Быстрый просмотр</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section><!-- end products-list -->

		<!-- begin products-list -->
		<section class="products-list">
			<div class="uk-container">
				<div class="separate-title"><span>Вы недавно смотрели</span></div>
				<div class="products-list__inner" uk-scrollspy="target: .card; cls: slide-up-content; delay: 0; repeat: false">
					<div class="uk-grid">
						{% for item in 1..3 %}
						<div class="uk-width-1-2@s uk-width-1-3@m">
							<div class="card">
								<div class="card-wrapper">
									<div class="card__inner">
										<div class="card__img">
											<a href=""><img data-src="img/media/product-img-{{item}}-380x424.png" alt="" class="lazy"></a>
										</div>
										<div class="stocks">
											<div class="new">new</div>
											<div class="discount">-50%</div>
										</div>
										<div class="favorite-icon">
											<a href="" class="icon-star"></a>
										</div>
										<div class="card__product-name"><a href="">Рюкзак Settlement Backpack Settlement Backpack</a></div>
										<div class="card__price">
											<div class="old-price">12 889 Р.</div>
											<div class="current-price">6 890 Р.</div>
										</div>
										<a href="" class="card__toggle-btn icon-chevron-right js__show-preview-slider">Посмотреть все цвета</a>
										<div class="card__bottom">
											<div class="preview-slider">
												<div class="slider">
													{% for slide in 1..5 %}
													    <div class="slide">
													    	<img data-lazy="img/sliders/card-preview-img-{{slide}}-72x82.png" alt="">
													    </div>
													{% endfor %}
												</div>
											</div>
											<a href="" class="btn btn--medium btn--dark" uk-toggle="target: #modal-fastview">Быстрый просмотр</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section><!-- end products-list -->

		</div><!-- end product-additional-desc -->

	</main>
{% endblock content %}
