{% extends "layouts/default.twig" %}
{% set title="История бренда" %}
{% set bread = ["Главная"] %}
{% set main = false %}
{% block content %}
	<main class="main">
		<div class="uk-container uk-container--large">
			<div class="top-banner">
				<img data-src="img/media/history-banner.png" alt="История в датах" class="lazy">
			</div>
		</div>
		<div class="uk-container">
			<h1>История в датах</h1>

			<div class="timeline">
				<div class="timeline__wrap">
					<div class="timeline__items">
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2009</div>
								Herschel Supply Co. Зарегистрирована как корпорация в Ванкувере, Канада
								<img data-src="img/media/timeline-img-1.png" alt="" class="lazy">
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2010</div>
								Основатели Джейми и Линдон Кормак принимают участие в своей первой торговой выставке. Коллекция осень 2010 впервые появляется в магазинах США, Канады, Австралии, Японии и Великобритании. Запуск международного интернет-магазина
								<img data-src="img/media/timeline-img-2.png" alt="" class="lazy">
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2011</div>
								Партнерский проект с брендом Stussy Los Angeles
								<img data-src="img/media/timeline-img-3.png" alt="" class="lazy">
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2012</div>
								Бренд представил первую коллекцию чемоданов и сумок для путешествий. В свет выходит премиальная коллекция. Выпуск издания Well travelled выходит с фотографиями Линдона Кормэка во время путешествия по провинции Цзянсу, Китай
								<img data-src="img/media/timeline-img-4.png" alt="" class="lazy">
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2013</div>
								Дебютирует первая детская коллекция. Первый розничный магазин открывается на Филиппинах
								<img data-src="img/media/timeline-img-5.png" alt="" class="lazy">
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2014</div>
								Herschel Supply открывает офис в Лос-Анджелесе. Выпуск первой коллекции головных уборов
								<img data-src="img/media/timeline-img-6.png" alt="" class="lazy">
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2015</div>
								Продукция компании Herschel Supply начинает продаваться в 70 странах мира
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2016</div>
								Открытие сети магазинов Herschel Supply в Париже, Милане и Мехико
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2017</div>
								Herschel Supply открывает первый азиатский офис в Шанхае. Продукция компании представлена на китайском рынке. Запускается коллекция Herschel Supply Apparel
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- begin timeline -->
			<div class="timeline" style="display: none;">
				<div class="timeline-container">
					<div class="timeline-section timeline-section--position-left">
						<div class="timeline-section__date">2009</div>
						<div class="timeline-section__description">
							<div class="timeline-section__img">
								<img src="img/media/timeline-img-1.png" alt="2009">
							</div>
							<div class="timeline-section__text">
								Herschel Supply Co. Зарегистрирована как корпорация в Ванкувере, Канада
							</div>
						</div>
					</div>

					<div class="timeline-section">
						<div class="timeline-section__date">2010</div>
						<div class="timeline-section__description">
							<div class="timeline-section__img">
								<img src="img/media/timeline-img-2.png" alt="2010">
							</div>
							<div class="timeline-section__text">
								Основатели Джейми и Линдон Кормак принимают участие в своей первой торговой выставке. Коллекция осень 2010 впервые появляется в магазинах США, Канады, Австралии, Японии и Великобритании. Запуск международного интернет-магазина
							</div>
						</div>
					</div>

				</div>
			</div><!-- end timeline -->

		</div>
	</main>
{% endblock content %}
