{% extends "layouts/default.twig" %}
{% set title="История бренда" %}
{% set bread = ["Главная"] %}
{% set main = false %}
{% block content %}
	<main class="main">
		<div class="uk-container uk-container--large">
			<div class="top-banner">
				<img data-src="img/media/history-banner.png" alt="История в датах" class="lazy">
			</div>
		</div>
		<div class="uk-container">
			<h1>История в датах</h1>

			<div class="timeline border-bottom">
				<div class="timeline__wrap">
					<div class="timeline__items">
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2009</div>
								Herschel Supply Co. Зарегистрирована как корпорация в Ванкувере, Канада
								<img data-src="img/media/timeline-img-1.png" alt="" uk-img>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2010</div>
								Основатели Джейми и Линдон Кормак принимают участие в своей первой торговой выставке. Коллекция осень 2010 впервые появляется в магазинах США, Канады, Австралии, Японии и Великобритании. Запуск международного интернет-магазина
								<img data-src="img/media/timeline-img-2.png" alt="" uk-img>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2011</div>
								Партнерский проект с брендом Stussy Los Angeles
								<img data-src="img/media/timeline-img-3.png" alt="" uk-img>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2012</div>
								Бренд представил первую коллекцию чемоданов и сумок для путешествий. В свет выходит премиальная коллекция. Выпуск издания Well travelled выходит с фотографиями Линдона Кормэка во время путешествия по провинции Цзянсу, Китай
								<img data-src="img/media/timeline-img-4.png" alt="" uk-img>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2013</div>
								Дебютирует первая детская коллекция. Первый розничный магазин открывается на Филиппинах
								<img data-src="img/media/timeline-img-5.png" alt="" uk-img>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2014</div>
								Herschel Supply открывает офис в Лос-Анджелесе. Выпуск первой коллекции головных уборов
								<img data-src="img/media/timeline-img-6.png" alt="" uk-img>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2015</div>
								Продукция компании Herschel Supply начинает продаваться в 70 странах мира
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2016</div>
								Открытие сети магазинов Herschel Supply в Париже, Милане и Мехико
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content">
								<div class="medium-title">2017</div>
								Herschel Supply открывает первый азиатский офис в Шанхае. Продукция компании представлена на китайском рынке. Запускается коллекция Herschel Supply Apparel
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="history-section" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid uk-flex">
					<div class="uk-width-2-5@m">
						<div class="history-section__img">
							<div class="big-title">Бренд</div>
							<div class="uk-img padding-vertical uk-img--gray push-left uk-flex uk-flex-center uk-flex-middle">
								<img src="img/media/big-logo.svg" alt="Herschel">
							</div>
						</div>
					</div>
					<div class="uk-width-3-5@m">
						<div class="history-section__text text-pd-left">
							<p>
								В начале 1900-х годов Питер Александр Кормак, производитель бочек по профессии, и его жена Энни переехали из шотландского города Уик в Канаду. Супруги поселились в маленьком канадском городке Гершель, Саскачеван, в котором сегодня живёт всего 30 человек.
							</p>
							<p>
								В 2009 братья Джейми и Линдон Кормак открыли компанию Herschel Supply. Имя Herschel – это название города, в котором выросло три поколения семьи Кормак. 
							</p>
							<p>
								Мы тесно связаны с этим канадским городком. И сегодня мы прославляем его как место, которое легло в основу ценностей и трудовой этики компании. Наши корни вдохновляют нас на великие дела.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="history-section" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid uk-flex">
					<div class="uk-width-3-5@m">
						<div class="history-section__text text-pd-right">
							<h2 class="title-h2 underline">Как всё начиналось</h2>
							<p>
								Каждый бизнес создается для решения проблемы. Наша была простой– рюкзаки на рынке были скучными и неинтересными.
							</p>
							<p>
								С первого дня своего создания Herschel Supply начал завоевывать рынок. Мы создали спрос там, где другие думали, что его не существует. Мы возродили рюкзаки, вернули к ним интерес потребителя. 
							</p>
							<p>
								Мы все еще находимся на пути поиска – открываем неизведанные территории и оставляем там свой след. Мы не ограничиваем себя рамками. В поисках решений нет ограничений в том, кем мы можем стать
							</p>
						</div>
					</div>
					<div class="uk-width-2-5@m">
						<div class="history-section__img">
							<figure>
								<img data-src="img/media/history-img-1.png" uk-img alt="Основатели марки Джейми и Линдон Кармак">
								<figcaption>
									Основатели марки Джейми и Линдон Кармак
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</section>
			<div class="separate-title" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false"><span>В чём суть?</span></div>

			<section class="history-section" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid uk-flex">
					<div class="uk-width-3-5@m">
						<div class="history-section__img">
							<div class="uk-img">
								<img data-src="img/media/history-img-2.png" alt="Herschel" uk-img>
							</div>
						</div>
					</div>
					<div class="uk-width-2-5@m">
						<div class="history-section__text">
							<div class="title-h2">В неугасающем любопытстве ...</div>
							<p>
								Нам интересно все, начиная от производства, заканчивая культурными мероприятиями. Мы спрашиваем, почему это сделано так, а не иначе, как именно оно сделано, и всегда стремимся к улучшению. Мы пробуем все доступные средства, изучаем новые аспекты 	дизайна, культуры и путешествий. Мы стремимся удовлетворить все желания наших клиентов.
							</p>
							<p>
								Мы смотрим и идем только вперед. Мы всегда сосредоточены на следующем шаге и со страстью отдаемся новому делу.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="history-section border-bottom" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid uk-flex">
					<div class="uk-width-2-5@m">
						<div class="history-section__text">
							<div class="title-h2">... с целью сделать путешествие стилем жизни!</div>
							<p>
								Как бренд, мы стремимся помочь людям путешествовать с комфортом. Мы придумываем вещи, котораые сделают путешествие удобным и позволят получить незабываемые впечатления. Потому что мы знаем, что люди стараются познавать мир вокруг себя - от знакомства с новыми соседями до поездок в другие страны.
							</p>
							<p>
								Herschel Supply – это стиль жизни, который выходит за рамки обыденного. Путешествуя вместе с Herschel Supply, вы будете отлично экипированы и ни на кого не похожи.
							</p>
						</div>
					</div>
					<div class="uk-width-3-5@m">
						<div class="history-section__img text-pd-left">
							<div class="uk-img">
								<img data-src="img/media/history-img-3.png" alt="Herschel" uk-img>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="history-section" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="uk-grid uk-flex">
					<div class="uk-width-2-5@m">
						<div class="history-section__text text-pd-right border-right">
							<div class="title-h3 uk-margin-large-bottom">Мы обещаем уделять внимание деталям</div>
							<p class="italic">
								Herschel Supply — это стиль жизни, который выходит за рамки обыденного. Путешествуя вместе с Herschel Supply, вы будете отлично экипированы и ни на кого не похожи.
							</p>
						</div>
					</div>
					<div class="uk-width-3-5@m">
						<div class="history-section__text text-pd-left">
							<p>
								Как бренд, мы стремимся помочь людям путешествовать с комфортом. Мы придумываем вещи, котораые сделают путешествие удобным и позволят получить незабываемые впечатления. Потому что мы знаем, что люди стараются Наша отправная точка – это потребность реализации идей через дизайн. В своей основе Herschel Supply - дизайнерская компания. Мы одержимы деталями. Мы уделяем внимание всему: от пуллера на молнии до транзакции в магазине. Наше доскональное изучение каждой мелочи в деталях перерастает в любовь клиента к каждой частичке выбранного им товара и положительные эмоции вместе с Herschel Supply мир вокруг себя - от знакомства с новыми соседями до поездок в другие страны.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="history-section" uk-scrollspy="cls: slide-up-content; delay: 0; repeat: false">
				<div class="title-h1 remove-border">Мы соединяем людей и культуры</div>
				<div class="uk-grid uk-flex">
					<div class="uk-width-2-5@m">
						<div class="history-section__text">
							
							<p>
								Мы верим, что города мира — это культурные центры, и мы существуем, чтобы вдохновлять и поддерживать людей в их путешествиях и открытиях. Ведь культура — это искусство, музыка, еда, мода, спорт и многие другие аспекты человеческого взаимодействия.
							</p>
							<p>
								Мы создали этот бренд на основе взаимосвязи человеческого опыта с культурой. Это то, как мы растем и общаемся с нашим комьюнити. Просто и вдохновляюще. #welltravelled – это шаг на неизведанную территорию и знакомство ней. Это про получение удовольствия от путешествия от А до Я, когда ты уже на него решился.
							</p>
							<p>
								Herschel Supply – это часть глобальной культуры, синоним новых впечатлений и открытий.
							</p>
						</div>
					</div>
					<div class="uk-width-3-5@m">
						<div class="history-section__img text-pd-left">
							<div class="uk-img">
								<img data-src="img/media/history-img-4.png" alt="Herschel" uk-img>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</main>
{% endblock content %}
