{% extends "layouts/default.twig" %}
{% set title="Доставка и оплата" %}
{% set bread = ["Главная", "Доставка и оплата"] %}
{% set main = false %}
{% block content %}
	<main class="main">
		<div class="uk-container">
			<h1 class="title-h1">Спасибо за заказ!</h1>
			<div class="uk-grid">
				<div class="uk-width-2-3@m">
					<div class="order">
						<div class="medium-title">Вы заказали</div>
						
						<!-- begin order-list -->
						<div class="order-list">
							<div class="product-buyed">
								<div class="product-buyed__img">
									<a href="">
										<img data-src="img/media/basket-img-1.png" alt="" uk-img>
									</a>
								</div>
								<div class="product-buyed__desc">
									<div class="product-buyed__title"><a href="">Рюкзак Herschel Little America | Middle-Volume</a></div>
									<div class="product-buyed__info">
										<div class="product-buyed__article">Код товара:<span class="val">10501-03071-OS</span></div>
										<div class="product-buyed__counter">Кол-во:<span class="val">1</span></div>
										<div class="product-buyed__size">Размер:<span class="val">16.25"(H) x 11"(W) x 5.25"(D)</span></div>
									</div>
								</div>
							</div>
						
							<div class="product-buyed">
								<div class="product-buyed__img">
									<a href="">
										<img data-src="img/media/basket-img-2.png" alt="" uk-img>
									</a>
								</div>
								<div class="product-buyed__desc">
									<div class="product-buyed__title"><a href="">Спортивная куртка Herschel Voyage</a></div>
									<div class="product-buyed__info">
										<div class="product-buyed__article">Код товара:<span class="val">10501-03071-OS</span></div>
										<div class="product-buyed__counter">Кол-во:<span class="val">1</span></div>
										<div class="product-buyed__size">Размер:<span class="val">XS</span></div>
									</div>
								</div>
							</div>
						
						</div><!-- end order-list -->
						
						<ul class="total-list">
							<li>
								<span class="text">Полная сумма заказа:</span>
								<span class="separate"></span>
								<span class="val">13 500 р.</span>
							</li>
						</ul>
						
						<div class="order-delivery">
							Доставка курьером, оплата наличными или картой курьеру
						</div>
						
						<div class="medium-title">Что дальше?</div>
						
						<ol class="numeric-list">
							<li>Мы перезвоним подтвердить параметры заказа</li>
							<li>Мы передадим заказ курьерской службе</li>
							<li>Сотрудник курьерской службы позвонит вам завтра и согласует с вами время доставки</li>
							<li>Курьер позвонит за час до своего приезда</li>
							<li>Курьер приедет по адресу 3-й Новоподмосковный переулок дом 4, квартира 16, примет у вас оплату наличными или картой, выдаст товар и чек</li>
						</ol>
						
						<!-- begin attantion-block -->
						<div class="attantion-block">
							<i class="attantion-icon">i</i>
							<div class="attantion-block__inner">
									<div class="attantion-block__text">
										Если что-то идет не так, звоните нам по номеру <a href="tel:+74953332244" class="bold-text">+7 (495) 333-22-44</a>
									</div>
									<div class="attantion-block__add-info">
									</div>
							</div>
						</div><!-- end attantion-block -->
					</div>
				</div>
				<div class="uk-width-1-3@m">
					<div class="scroll-block" uk-sticky="media: @m; bottom: .order">
						<div class="medium-title">Поделитесь скидкой с друзьями!</div>
						<div class="social-list">
							<a href="#" class="icon-vk"></a>
							<a href="#" class="icon-facebook"></a>
							<a href="#" class="icon-twitter"></a>
							<a href="#" class="icon-youtube"></a>
							<a href="#" class="icon-insta"></a>
							<a href="#" class="icon-ok"></a>
						</div>
						<form action="" class="send-form default-form" novalidate="novalidate">
							<input type="email" name="email" placeholder="Email друга">
							<button class="btn">Отправить</button>
						</form>

						<!-- begin events -->
						<div class="events">
							<div class="events__img">
								<a href="">
									<img data-src="img/media/event-img.png" alt="" uk-img>
									<span class="events__title">Новые поступления 2020</span>
								</a>
							</div>
						</div><!-- end events -->
					</div>

				</div>
			</div>
		</div>
	</main>
{% endblock content %}
