<form action="#" method="post">
	<div class="form-title">Запрос на опт</div>
	<div class="form-subtitle">
		Заполните форму и наш менеджер свяжется с вами.
	</div>
	<div class="flex-row">
		<div class="flex-col-1-2">
			<fieldset>
				<input type="text" placeholder="Имя">
			</fieldset>
			<fieldset>
				<input type="text" placeholder="Телефон">
			</fieldset>
			<fieldset>
				<input type="text" placeholder="Email">
			</fieldset>
		</div>
		<div class="flex-col-1-2">
			<fieldset>
				<textarea name="" placeholder="Комментарий"></textarea>
			</fieldset>
			<fieldset>
				<label class="label-file text-align-right" for="opt-file">
					<input id="opt-file" type="file" placeholder="Прикрепить файл" class="button">
					<span class="custom-input-value"></span>
					<span class="custom-input">Прикрепить файл</span>
				</label>
			</fieldset>
		</div>
		<div class="flex-col-1-2 text-align-left">
			<a download href="https://lastprint.ru/pdf/cases-price.pdf" class="form-btn">Скачать прайс</a>
		</div>
		<div class="flex-col-1-2 text-align-right">
			<button type="submit" class="form-btn">Отправить</button>
		</div>
	</div>
</form>
