{% extends "layouts/default.twig" %}
{% set title="Регистрация" %}
{% set bread = ["Личный кабинет", "Регистрация"] %}
{% set main = false %}
{% block content %}
	<main class="main">
		<div class="uk-container">
			<h1 class="title-h1">Регистрация</h1>
			<h2 class="title-h2">Регистрация</h2>
			<h3 class="title-h3">Регистрация</h3>
			<h4 class="title-h4">Регистрация</h4>
		
		</div>
	</main>
{% endblock content %}
